[2013-02-12 12:46] martinpitt opened #1 "Support evdev ioctls"
For mocking input devices such as touch screens or Wacom tablets we need to record/mock the relevant ioctls.

[2013-02-12 12:49] martinpitt opened #2 "Fix parallel build"
A parallel build currently fails with

<code>
$ make -j
make  all-recursive
make[1]: Entering directory `/home/martin/upstream/umockdev'
Making all in .
make[2]: Entering directory`/home/martin/upstream/umockdev'
make[2]: **\* No rule to make target `src/umockdev-1.0.vapi', needed by`src_umockdev_run_vala.stamp'.  Stop.
</code>

This needs some dependency injection.

[2013-02-13 08:03] martinpitt opened #3 "Support opening /dev node multiple times"
libmtp opens USB device nodes multiple times without closing them in between. This causes the preload lib to lose track of the earlier ones, and causes errors like

ERROR: Could not close session!
inep: usb_get_endpoint_status(): Inappropriate ioctl for device
outep: usb_get_endpoint_status(): Inappropriate ioctl for device
usb_clear_halt() on IN endpoint: Inappropriate ioctl for device
usb_clear_

[2013-02-14 11:29] #3 closed, assigned to nobody

[2013-02-14 11:42] #2 closed, assigned to nobody

[2013-02-18 07:41] martinpitt opened #4 "Support USBDEVFS_CONTROL"
I didn't run into a use case for this yet (gphoto/mtp), but have a half-written patch for it which I don't want to lose in case it becomes actually relevant.

[2013-02-18 07:42] #4 closed, assigned to nobody

[2013-02-19 09:32] #1 closed, assigned to martinpitt

[2013-02-21 07:36] martinpitt opened #5 "Support evemu events files"
Peter Hutterer suggested that umockdev should be able to record and replay evdev events.

evemu requires root privileges as it's creating an actual Linux device, so if it's not too much effort, recording and replaying in umockdev can be useful for integration into "make check" and CI servers.

Peter says that evemu already provides a standard format and that there are lots of existing files. If we

[2013-02-25 06:51] martinpitt opened #6 "umockdev-run without program argument crashes"
Running "umockdev-run" without any arguments, or without a program crashes.

[2013-02-25 06:53] martinpitt opened #7 "Does not work with shotwell"
Recording ioctls with shotwell does work:

$ LD_LIBRARY_PATH=.libs/ src/umockdev-record -i /tmp/shotwell.dump /dev/bus/usb/001/012  shotwell

This produces a 4.5 MB ioctl dump which looks reasonable. However, when trying to load it back it fails with

$ LD_LIBRARY_PATH=.libs/ src/umockdev-run -l devices/cameras/canon-powershot-sx200.umockdev -i /dev/bus/usb/001/011=/tmp/shotwell.dump  shotwell
L 1

[2013-02-25 06:57] martinpitt opened #8 "better error message for invalid ioctl files"
When trying to load an empty or invalid ioctl dump we currently get

$ touch /tmp/empty.ioctl
$ LD_LIBRARY_PATH=.libs/ src/umockdev-run -l devices/cameras/canon-powershot-sx200.umockdev -i /dev/bus/usb/001/011=/tmp/empty.ioctl  -- gphoto2 -l
gphoto2: src/libumockdev-preload.c:360: ioctl_wrap_open: Assertion `fdinfo->tree != ((void *)0)' failed.

That error message should become clearer.

[2013-02-25 08:00] #6 closed, assigned to nobody

[2013-02-25 08:24] #8 closed, assigned to nobody

[2013-02-25 10:27] #7 closed, assigned to nobody

[2013-05-24 00:45] pprabhu opened #9 "Mocking tty devices"
[feature-idea]

Please let me know if I'm overshooting the intended use of umockdev in the following --

My use-case is that of black box testing a daemon that interacts with devices through sysfs. I'd like to be able to create a mock tty device, and at (test) run-time, trick the daemon into accepting a pty in lieu of the tty device.

This way, I can fake the daemon-device interaction during test.

[2013-05-24 14:03] giulianvivan opened #10 "make check reports some failures when executed on 32 bit machines"
Hello Martin, I work with Otavio Salvador (@otavio), this report is about that errors you two talked about on the irc channel.

Doing a make check, some failures are reported. The most meaningful ones are:

[code]

There is also one failure regarding the launching of Xorg, that we couldn't find out the reason yet; and another one on launching udevadm, which is not on the user path on Debian.

We d

[2013-05-28 10:44] #10 closed, assigned to nobody

[2013-06-11 13:16] vrruiz opened #11 "Tests don't pass in Ubuntu Touch (ARM)"
I'm trying to run umockdev in Ubuntu Touch (Nexus 4, actually). I've been able to compile it, but it's not passing the make check.

/umockdev-testbed/empty: OK
/umockdev-testbed/add_devicev: OK
/umockdev-testbed/add_device: OK
/umockdev-testbed/add_device_errors: OK
/umockdev-testbed/child_device: OK
/umockdev-testbed/set_attribute: OK
/umockdev-testbed/set_property: OK
/umockdev-testbed/add_from_

[2013-06-11 16:16] vrruiz opened #12 "Touchpad test failing"
I'm testing this in a MacBook Pro (mid 2010), which should have touchpad capabilities. Running make check input-touch test fails:

/umockdev-run/integration/input-touchpad: Xorg failed to start up
/bin/bash: line 5: 15631 Aborted                 (core dumped) TOP_BUILDDIR=. TOP_SRCDIR=. LD_LIBRARY_PATH=./.libs:$LD_LIBRARY_PATH GI_TYPELIB_PATH=. ./src/umockdev-wrapper ${dir}$tst
FAIL: tests/test-um

[2013-06-12 10:03] #12 closed, assigned to nobody

[2013-06-12 13:54] martinpitt opened #13 "/umockdev-run/integration/input-touchpad fails on 32 bit architectures"
on i386 and arm platforms that test fails:

ERROR:tests/test-umockdev-run.c:732:t_input_touchpad: assertion failed: (sout.contains ("SynPS/2 Synaptics TouchPad"))

Initial debugging shows that on these platforms X.org apparently does a EVIOCGNAME ioctl which isn't being recorded into the *.ioctl file. It could also be an int size issue on top of that, though.

[2013-06-12 13:55] #11 closed, assigned to martinpitt

[2013-06-13 06:57] #13 closed, assigned to martinpitt

[2013-06-18 05:38] Compy opened #14 "needinfo: umockdev on quantal or even 11.10 Systems"
Can umockdev run on Quantal or 11.10 systems? I am not sure how to get it running on older systems where hardware device emulation is needed. Any help would be appreciated as it doesn't seem to be in the apt-get repositories. Do you have a PPA?

Regards,
Jimmy

[2013-06-18 06:27] #14 closed, assigned to nobody

[2013-06-28 05:49] martinpitt opened #15 "Add UmockevTestbed.add_from_file()"
Provide a convenience wrapper around `add_from_string()` which opens a file, reads it, and passes any errors upwards.

[2013-06-28 16:28] martinpitt opened #16 "mocked /dev nodes do not appear to be block/char devices"
This breaks e. g. g_udev_client_query_by_device_file() which stat()s the /dev nodes to find out which kind of object to construct. This blocks gvfs MTP tests.

[2013-07-01 09:02] #16 closed, assigned to martinpitt

[2013-07-01 09:28] #15 closed, assigned to martinpitt

[2013-07-03 02:54] RAOF opened #17 "Ability to mock device removal"
It would be useful to be able to test not only device detection but also device hot-removal, which requires that we remove a udev device from the testbed while it's running.

Something like umockdev_testbed_remove_device(UmockdevTestbed\* testbed, char const\* syspath) would be good.

[2013-07-03 15:22] martinpitt opened #18 "Record and replay device communication"
To make tty emulation easier to use, we should provide recording & replaying of device communication, i. e. intercepting and logging the read()s and write()s, with timing information.

[2013-07-03 15:25] #9 closed, assigned to martinpitt

[2013-07-04 09:24] martinpitt opened #19 "does not wrap/record fopen()"
src/libumockdev-preload.c WRAP_OPEN does not apply to

WRAP_2ARGS(FILE *, NULL, fopen, const char *);
WRAP_2ARGS(FILE *, NULL, fopen64, const char *);

and thus those are not covered by ioctl_wrap_open(), ioctl_record_open(), etc.

[2013-07-04 09:31] martinpitt opened #20 "does not wrap fclose()"
if an application uses fclose(), it is missed for recording as we don't wrap fclose(), only close().

[2013-07-04 10:16] martinpitt opened #21 "cache dlsym() results"
we should not call dlsym() for every system call, but cache the result instead.

[2013-07-04 17:05] #21 closed, assigned to martinpitt

[2013-07-05 12:37] #20 closed, assigned to martinpitt

[2013-07-10 05:25] martinpitt opened #22 "udev_device_get_driver() fails under umockdev"
modemmanager currently doesn't accept an umockdev environment because src/mm-plugin-base.c get_driver_name() returns NULL. This calls udev_device_get_driver() eventually, which always fails for the mocked environment.

[2013-07-10 08:32] #22 closed, assigned to martinpitt

[2013-07-11 09:03] #18 closed, assigned to martinpitt

[2013-07-12 08:28] #17 closed, assigned to martinpitt

[2013-07-18 10:56] martinpitt opened #23 "record/replay Android binder ioctls"
On the Ubuntu phone, ofono (Ubuntu stack) primarily talks over /dev/socket/rild, but it also does some communication through the Android Binder IPC. For testing the phone UI it seems the best layer to hook into is to let ofono run in an umockdev testbed and record/replay the ioctls from rild. This is pure /dev/binder and ioctl communication, avoids mocking D-BUS, and includes testing the ofono sta

[2013-07-19 13:12] martinpitt opened #24 "record/replay from sockets"
For the Ubuntu phone we need to be able to record&replay from/to a Unix socket instead of a char device, hence we need to record, support, and replay those. In particular, those use connect() instead of open(), and umockdev-record needs to accept those (they are not a char or block device).

We should also consider making it convenient with umockdev-run to create a socket to attach a script to it.

[2013-07-24 21:25] #24 closed, assigned to martinpitt

[2013-07-25 05:46] martinpitt opened #25 "script replay debug output truncates at 0 bytes"
I tried to record/replay ofono against rild, which failed with

 # pkill ofonod; G_MESSAGES_DEBUG=all LD_LIBRARY_PATH=/home/phablet/umockdev/.libs/ PATH=/home/phablet/umockdev/src:$PATH umockdev-run -u /dev/socket/rild=/tmp/rild.script -- ofonod -n -d
 *\* (lt-umockdev-run:14928): DEBUG: ScriptRunner[/tmp/umockdev.UQTU0W/dev/socket/rild6]: op_write, got 112 bytes; offset: 112, full block size 112

[2013-07-25 06:41] #25 closed, assigned to martinpitt

[2013-07-25 07:25] martinpitt opened #26 "Script replay needs to allow some fuzz"
With Android's rild there are some messages with some fuzz, for example:

 ScriptRunner op_write[/tmp/umockdev.2EN90W/dev/socket/rild6]: data mismatch; got block '^@^@^@l^^@^@^@^E^@^@^@�^@^@^@�/^@^@^D^@^@^@3^@F^@0^@0^@^@^@^@^@^@^@^@^@^@^@^@^@^J^@^@^@��������^X^@^@^@a^@0^@0^@0^@0^@0^@0^@0^@8^@7^@1^@0^@0^@2^@f^@f^@4^@9^@f^@f^@0^@5^@8^@9^@`R^@^@' (112 bytes), expected block '^@^@^@l^^@^@^@^E^@^@^@�^@

[2013-07-26 07:13] #26 closed, assigned to martinpitt

[2013-08-09 12:52] giulianvivan opened #27 "not building on Ubuntu 12.04"
I was trying to build umockdev on Ubuntu 12.04 and I found two problems.

The first one is that Vala's version is 16, but 16.1 is required.

Just to see what happens, I edited the configure.ac file to change the required version to 16. autogen.sh now completes fine but when I try to make I get the following message:

[code]

[2013-08-20 06:40] #27 closed, assigned to nobody

[2013-11-13 23:48] RAOF opened #29 "umockdev_testbed_uevent aborts if there are no listeners"
Calling umockdev_testbed_uevent aborts with
"""
sendmsg_all: cannot run glob: Invalid argument
"""
if no udev_monitors are currently listening.

This appears to be because uevent_send broadcasts to $UMOCKDIR/event[0-9]*, and those sockets are only created at udev_monitor_enable_recieving time.

[2013-11-14 07:58] #29 closed, assigned to nobody

[2013-11-21 17:25] vincentbernat opened #31 "Support for Ethernet devices"
I would be interested in getting Ethernet devices support in umockdev. It would consists in:
- mocking the associated sysfs tree (should already work)
- mocking some ioctl (like ethtool ioctl)
- mocking a dummy ethernet device (appear as a regular ethernet device like the one from dummy driver: a blackhole)

[2013-12-12 13:09] giulianvivan opened #32 "recorded usb hub not detected on umockdev-run/umockdev-wrapper on Ubuntu 12.04 (32 bit)"
Hello Martin

We have here a .umockdev file which has on it a usb hub (with a vga port) which is not being detected on umockdev-run/umockdev-wrapper on Ubuntu 12.04 (32 bit).

Here is the .umockdev file:

https://gist.github.com/giulianvivan/7927446

The command to test:

[code]

The expected output would be:

[code]

But the actual output is empty.

Tested with the master branch (9ec46f8ea24e0b32

[2013-12-17 19:08] #32 closed, assigned to nobody

[2014-02-04 07:04] RAOF opened #33 "Allow passing NULL as device node path in umockdev_testbed_load_{ioctl,script}"
This would allow you to record the udev device info and ioctl/script at the same time.

Example API usage:

[code]

To record & generate foo.umockdev and foo.ioctl, and then:

[code]

to load the udev devices and associate the ioctl recording with the appropriate device.

[2014-02-15 00:52] #33 closed, assigned to nobody

[2014-03-20 12:08] #5 closed, assigned to nobody

[2014-08-23 13:37] evgeni opened #41 "support /sys/block/ symlinks and attributes in subdirs"
Heya,

I wanted to write some tests fome my application ([hdapsd](https://github.com/evgeni/hdapsd)) using umockdev, but failed because umockdev does not support `/sys/block` right now.

I tried adding a stanza like this to my `.umockdev` file, but it failed with an error:

[code]

I am using `/sys/block` to discover all available disks of the system and check their features. Iterating over all `a

[2014-09-01 09:40] #41 closed, assigned to nobody

[2014-11-06 15:52] hadess opened #43 "Support IIO devices"
This will be useful on tablets and phones to test for accelerometers, compasses, quaternion sensors, etc.

In particular, accelerometers will behave differently if they have a "trigger" or not, if they have scan_elements, etc.

[2014-11-14 09:34] APokorny opened #44 "No IOCTL recorded when no data read from input fd"
If you only execute ioctl on evdev devices and never read any input events from the evdev fd umockdev-record will never dump the ioctl results.

[2014-11-14 14:05] APokorny opened #45 "ioctl recording files are arch dependent"
The ioctl files recorded on an ARM device cannot be used for playback on a x86_64 system. The data sizes mismatch for received long/int? values differ.

[2014-11-19 10:32] #45 closed, assigned to nobody

[2014-11-25 23:38] masterkorp opened #46 "Program not recognized fake device."
I am trying to record the serial comns for [YATS](https://github.com/masterkorp/yats) but failed to find the fake `/dev/ttyUSB0` device

I got the device with info with

[code]

I recorded the serial comunitcation with:

[code]

Disconnect the device and tried to replay the data with:

[code]

But without any succes.

Here are the [generated files](http://gohan.masterkorp.net/~masterkorp/yats_umoc

[2015-04-21 10:45] masterkorp commented on #46
ping

[2015-04-29 09:16] hadess opened #47 "Don't abort when Xorg cannot be launched"
umockdev 0.8.8 on Fedora:

[code]

It should skip the X dependent tests, just like it skips gphoto2 tests if it's not available.

[2015-05-20 21:52] koenlek opened #48 "using umockdev to record CAN device"
Hi all,

I have a CAN-bus radar that I want to record data from. It is connected through a CAN to usb adapter and appears as a /dev/ttyUSBx. I would like to make some low level recordings outdoors and use that to write a driver for it offline, using a simulated dev based on that recording. I think I should be able to achieve this with umockdev, but so far I haven't been able to get it right.

To c

[2015-05-22 06:02] martinpitt commented on #48
Hello,

You can't "attach" umockdev-record to an already running program. You have to start whatever talks to the device "under" umockdev-record, i. e. something like

    umockdev-record -s /dev/canusb=/tmp/canusb.script -- screen /dev/canusb 500000

I assume you want to Control-C that after a few seconds, depending on how much data you want to record.

This is described at https://github.com/mar

[2015-05-22 06:05] martinpitt commented on #44
This works fine for me:

    sudo umockdev-record -i /dev/input/event2=/tmp/e.ioctl evtest /dev/input/event2

(and immediate Control-C). This is the device for my power button and there are no events. This gives me a reasonable `/tmp/e.ioctl`.

Can you please give me more details about which exact commands you ran and what you did exactly?

[2015-05-22 06:11] martinpitt commented on #46
Sorry for the late response! What does "But without any success"  expand to, i. e. what exactly did you see? https://github.com/masterkorp/yats is empty, so I can't try this myself. The generated script and umockdev files look reasonable. What does yats do, does it do everything automatically, or does it respond to user interactions? If so, did you do the same actions on replay as on recording?

[2015-05-22 07:50] martinpitt commented on #47
What is the precise error message that you see? I suppose that you *don't* get "cannot call Xorg: <some error>", as it's spawned asynchronously. I assume it times out waiting for the X socket,  i. e. "Xorg failed to start up: please ensure you have the X.org dummy ...". Is that right?

[2015-05-22 07:54] martinpitt commented on #47
I tested this with `ln -s /bin/false /usr/local/bin/Xorg` and get the expected error from above.

Fixed in https://github.com/martinpitt/umockdev/commit/e03ef650fa556bbfdec972974d08f3509f425175 , it now looks like:

    umockdev-run/integration/input-touchpad: SKIP: Xorg failed to start up; please ensure you have the X.org dummy driver installed, and check the log file: /tmp/Xorg.log.MTQIYX
    OK

[2015-05-22 07:54] #47 closed

[2015-05-22 13:13] hadess commented on #47
You still need me to do something here?

[2015-05-22 13:17] martinpitt commented on #47
If that fix (included in today's 0.8.9 release) works for you (I'm 95% sure it does), then it's all good.

[2015-06-16 07:59] koenlek commented on #48
Hi Martin,

I found another way around it, I just dumped all the data to a csv and gave my 'CAN driver' two modes, one from csv and one directly talking with the device.

Thanks for your help!

[2015-06-16 07:59] #48 closed

[2015-06-16 09:52] masterkorp commented on #48
@koenlek while not related to this issue, can you elaborate how did you solved the problem ?

[2015-06-16 20:53] koenlek commented on #48
I was able to use candump from can-utils to read out and dump the device. I downloaded the source code [here](https://github.com/linux-can/can-utils/) and adapted it to make my own csv dump tool. My [ROS](http://ros.org/) driver then reads this csv and deserializes the messages (which I had to implement manually).

[2016-03-02 16:46] dcb314 opened #50 "src/libumockdev-preload.c:1381: possible use of dead pointer ?"
[src/libumockdev-preload.c:1381]: (error) Dead pointer usage. Pointer 'addr' is dead if it has been assigned '&trapped_addr' at line 1375.

[2016-03-03 11:11] hadess opened #51 "Add rfkill support"
There are a number of possible quirks in the rfkill handling in Linux, including:
- use of platform rfkills on laptops which will turn off and make a number of rfkills disappear
- the handling of Bluetooth rfkill which could make the hci device appear but not turn on

There's some information at:
http://lwn.net/SubscriberLink/677839/ebfc48ee11bda855/

[2017-01-10 17:53] discordianfish commented on #31
@vincentbernat Now given up? ;)

[2017-01-10 21:44] vincentbernat commented on #31
I didn't even remember that! I didn't make any progress on this. It's unlikely I'll work on this: I have added integration tests instead and make use of Linux network namespaces.

[2017-01-24 16:44] hadess opened #53 "Aborts in UPower test suite"
Using umockdev 0.8.22 and UPower master, the linux/integration-test aborts during the test_bluetooth_mouse_reconnect() test:
[code]

With this backtrace:
[code]

*Not* unref'ing the GUdevClient in up_device_supply_get_sibling_with_subsystem() fixes the assertion.

I've disabled the test for now, rather than leaking the client.

[2017-01-26 08:06] martinpitt commented on #53
I can reproduce this, thanks for the report! Will look into that today.
[code]

[2017-01-26 09:53] #53 closed

[2017-01-26 09:53] martinpitt commented on #53
Turned out to be quite simple and straightforward. Fixed in commit ebd1576612cba with a test case.

With this your upower `Tests._test_bluetooth_mouse_reconnect()` test works fine.

[2017-01-26 10:13] martinpitt commented on #53
Released 0.8.13 with that fix: https://launchpad.net/umockdev/trunk/0.8.13

[2017-01-26 10:27] hadess commented on #53
Great, thanks!

[2017-02-20 11:38] martinpitt commented on #50
That's quite deliberate. The whole point of the wrapper is to "divert" the `addr` argument and replace it with a local Unix socket. Where do you see this warning? I don't see it with gcc 6.3 at least, is that from coverity or similar? Is there a way to mark the code as "this is correct", or maybe a trick like setting `addr` to `NULL` before reassigning it or similar? Thanks!

[2017-02-20 12:07] dcb314 commented on #50
I suspect you need to upgrade your knowledge of C programming language.
Local variable trapped_addr is out of scope by line 1381.
Having addr pointing at random stack data is seriously bad news at line 1381.

[2017-02-20 12:33] martinpitt commented on #50
Oh, this is just about the scope of `trapped_addr`? That's easy enough to fix (should mostly be cosmetical, but it indeed looks more plausible for moving it up). The error message is quite misleading, though. Thanks!

[2017-02-20 12:36] #50 closed

[2017-02-20 15:16] hadess opened #54 "Add sentinel annotation to umockdev_testbed_add_device()"
So that missing a NULL sentinel as in https://bugzilla.gnome.org/show_bug.cgi?id=778734 doesn't crash on some systems.

See:
http://stackoverflow.com/questions/12031059/gcc-double-null-sentinel-attribute

[2017-02-20 16:48] martinpitt commented on #54
Yeah, that would be nice. This seems to be rather complicated in C already, I need to see if that can be translated to Vala somehow.

[2017-04-04 19:31] gicmo opened #55 "Support mocking of /proc entires"
For gnome-battery-bench testing it would be great to also mock some entries in `/proc` (i.e. cpuinfo, meminfo).

[2017-04-13 08:04] #55 closed

[2017-07-17 13:22] martinpitt commented on #23
Ubuntu phone is dead, and I don't have an interest in working on this, so there is little point in keeping this open. If someone wants to work on this, I'd appreciate a PR instead :-)

[2017-07-17 13:22] #23 closed

[2017-08-25 12:45] gicmo opened #56 "Support returning error codes from attribute reads"
I would like to simulate the "safe mode" for thunderbolt devices in the [self test](https://github.com/hughsie/fwupd/blob/master/plugins/thunderbolt/fu-self-test.c) of fwupd's thunderbolt plugin. For this a read of the sysfs attribute `nvm_version` needs to return `ENODATA` on `read`. I could not see how that is currently doable. If it isn't, it would be a cool feature to add.

[2017-09-01 07:15] shevegen opened #57 "Tarball releases and link from github"
Hello Martin,

The main readme contains a link to the launchpad site, e. g. then to the tarball:

  https://launchpad.net/umockdev/trunk/0.9.2/+download/umockdev-0.9.2.tar.xz

I was wondering whether there could additionally be a link to the tarball from the
github project site, from the main readme?

I am not entirely sure how this is done on github, but other projects manage to
do so such as htt

[2017-09-07 10:06] martinpitt commented on #57
GitHub automatically generates tarballs from tags on https://github.com/martinpitt/umockdev/releases . These do exist for umockdev, and they are the same kind like the ones you referenced (libfirm). These are pure tarballs of the git checkout, i. e. they do not have any autogenerated files from autoconf or cmake in those. So you cannot just start with `./configure`, you have to install automake, a

[2017-09-11 20:28] martinpitt commented on #56
This is indeed not currently possible. I'm trying to think of a sane way how to represent this on a plain file system; you could create the attributes as Unix sockets or pipes for more control, but neither of them can be coerced to return `ENODATA` on read. `ENODATA` isn't even a defined error code on read(2).

Do you need this right at the first `read()` or after some bytes of actual data? Is tha

[2017-09-13 12:51] pbn4 opened #59 "libev and tty devices"
Hello,

is the tty emulation suitable for use with epoll on Linux? I'm on Ubuntu 16.04 (4.8.0-59-generic). I use libev for communication handling with my tty device. It works when I record the communication, but hangs at "play mode". It is possible to write to the tty, but the device does not reply after that. From the gdb I can see that libev just waits for descriptors to be readable which never

[2017-09-13 13:02] #59 closed

[2017-10-18 15:41] superm1 opened #64 "Updating to 0.9.4 causes umockdev_in_mock_environment to fail for fwupd"
In fwupd we run CI in docker containers across Fedora, Debian, Ubuntu, and Arch in various configurations.
fwupd uses umockdev with the thunderbolt plugin.
Debian and Ubuntu both recently moved to umockdev 0.9.4-1.

Debian things seem to continue to work, but in Ubuntu the test suite fails (https://github.com/hughsie/fwupd/issues/280).

[code]
The test for this that shows the warning is simple:
ht

[2017-10-18 18:56] superm1 commented on #64
Debian testing hasn't moved to 0.9.4, so that's probably why it's not failing there yet.  In debian testing (where CI runs) 0.9.3 works properly.

[2017-10-19 10:16] gicmo commented on #64
The problem is that the tbt fwupd plugin uses `umockdev_in_mock_env...` before we created the `UMockdevTestbed`, which then reports `FALSE` and we fail. See [here](https://github.com/hughsie/fwupd/issues/280#issuecomment-337855991) for more details. The behaviour of the function clearly changed, question is should we adapt or should umockdev change (maybe doing both, the LD_PRELOAD check and the s

[2017-10-19 13:41] superm1 commented on #64
Thanks for clarifying what was going on @gicmo.
So I switched this around in fwupd: https://github.com/hughsie/fwupd/commit/fecfe3b8db3846be366d2916d47f5b9462e2ebd4 to test for after the env was setup.

I do agree if possible it's probably worth checking both LD_PRELOAD and sysfs check though so as to not cause regressions for anyone else from the 0.9.4 changeover.

[2017-11-14 21:38] martinpitt commented on #64
Sorry for the late reply. The previous behaviour of `umockdev_in_mock_env()` was really wrong, as you can see with trying to run `umockdev-run` with < 0.9.4 - you would get confusing warnings about nonexisting devices in `uevent_sender_send()`. It previously only tested if `$LD_PRELOAD` contained `libumockdev-preload`, not if the process was *actually* using it. This would go wrong if a process (l

[2017-11-14 21:41] superm1 commented on #64
fine by me.  thanks!

[2017-11-14 21:41] #64 closed

[2017-12-20 11:47] radhikapraveen opened #67 "Build using CMake"
Hi Martin,

I would like to include  umockdev in our project. But our projects use cmake. Is there a version of umockdev built using cmake? Am trying to convert to cmake but finding it difficult.

[2017-12-20 12:16] martinpitt commented on #67
There's no version using cmake, to my knowledge. Also, I really don't want to convert umockdev itself to cmake - the only thing I could be talked into would be meson.

But what do you mean with "include"? If you build the whole thing as-is, then linking to the shared library and just including the headers seems enough (and you can do that with any build system). And if you want to copy some portio

[2018-01-20 16:03] gicmo opened #69 "umockdev breaks due to systemd changes"
As seen in https://github.com/hughsie/fwupd/issues/370 (and also [boltd ci](https://travis-ci.org/gicmo/bolt/jobs/330918187)).
[code]
When stracing you see a change in the syscall pattern:

**working** (systemd-234-9.fc27):
[code]
**not working**:
[code]
*setup done here is practically identical to working condition*
[code]
I suspect the culprit is `chase_symlinks` which uses `openat` on each path

[2018-02-09 21:06] #69 closed

[2018-02-09 21:07] martinpitt commented on #67
No response in two months, closing. Feel free to reopen if you want to follow up. Thanks!

[2018-02-09 21:07] #67 closed

[2018-02-09 21:09] martinpitt commented on #46
Closing as there hasn't been a response in over two years. If you follow up, please reopen. Thanks!

[2018-02-09 21:09] #46 closed

[2018-02-09 21:10] martinpitt commented on #44
Closing as there hasn't been a response in over two years. If you follow up, please reopen. Thanks!

[2018-02-09 21:10] #44 closed

[2018-02-14 21:33] glaubitz opened #73 "umockdev-testbed/proc fails on sparc64 due to "processor" keyword not found"
On some architectures like sparc64, the keyword "processor" isn't actually found in /proc/cpuinfo and the testsuite fails (https://buildd.debian.org/status/fetch.php?pkg=umockdev&arch=sparc64&ver=0.11-1&stamp=1518643080&raw=0):

[code]

In general, different architectures have unfortunately different output in /proc/cpuinfo and it should not be assumed that all keywords are found on all architectu

[2018-02-14 21:55] martinpitt commented on #73
Thanks @glaubitz for your report! It seems there is nothing reliable across architectures, so I figure I'll just use a different file for the tests;  as you seem to have easy access to these arches, how about /proc/meminfo? Can I rely on `MemTotal:`  being in there?

[2018-02-14 22:00] glaubitz commented on #73
Yes, I just checked all architectures we have in Debian and ```MemTotal:``` is present on all of them.

[2018-02-14 22:09] martinpitt commented on #73
@glaubitz: Yay, many thanks for checking! Fixed in #74.

[2018-02-14 22:19] #73 closed

[2018-02-14 23:22] ebassi opened #75 "Build failure in GNOME Continuous"
umockdev fails to build in the GNOME continuous integration server inside umockdev-run:

[code]

Full build log available [here](http://build.gnome.org/continuous/buildmaster/builds/2018/02/14/59/build/log-umockdev.txt).

[2018-03-01 16:49] hadess opened #76 "Build failure in 0.11.1"
Tried to build 0.11.1 in Fedora Rawhide:
[code]

See for full log:
https://kojipkgs.fedoraproject.org//work/tasks/5025/25395025/build.log

[2018-03-01 16:54] hadess commented on #76
Builds correctly on Fedora 27, likely a problem with glibc or gcc changes.

[2018-03-01 17:05] hadess commented on #76
I have half a fix (rename the variable to major_int/minor_int, so they can't be confused with the function calls), but the generated vala is missing `#include <sys/sysmacros.h>`, which would require adding a new .vapi...

[2018-03-20 08:24] tankoslinux commented on #75
Same here.

Build log:

[code]

[2018-03-23 08:32] finikorg commented on #75
I have similar issue here: https://travis-ci.org/intel/thunderbolt-software-user-space

[code]

[2018-03-24 12:23] martinpitt commented on #76
Indeed, I can easily replicate the build failures in a rawhide mock. I filed https://bugzilla.gnome.org/show_bug.cgi?id=794651 with a small reproducer about the missing `#include` for `sysmacros.h`. I'll add a workaround for now. Once doing that, I also run into issue #75, looking at that now.

[2018-03-24 13:00] #76 closed

[2018-03-24 13:02] #75 closed

[2018-03-24 13:02] martinpitt commented on #75
Thanks for the report! Fixed in master now.

[2018-03-24 13:04] martinpitt commented on #57
With 0.11.1 I moved to GitHub as the primary download source: https://github.com/martinpitt/umockdev/releases/tag/0.11.1

This now contains "proper" `make dist` tarballs and news.

[2018-03-24 13:04] #57 closed

[2018-03-28 06:06] filbranden opened #78 "Please add support for /sys/bus/pci/slots"
I'm trying to use umockdev-run to add a regression test to systemd and prevent interface naming from breaking again.

So I got a umockdev-record of an interface for which we'd like to keep the name...

But the code that checks for the name enumerates the directories under /sys/bus/pci/slots and looks for one that matches the PCI address.

Any chance you could add support for /sys/bus/pci/slots in

[2018-03-30 05:57] filbranden commented on #78
@martinpitt Any idea if such a thing is possible?

I'm happy to contribute code, but I wanted to have your take on how to capture this/store it/mock it later... Thanks!

[2018-04-26 08:05] martinpitt opened #79 "Does not mock /sys enough for `find`"
This works (also with `udevadm info --export-db` etc.):
[code]
But not with find:
[code]
This is on Fedora 27.

[2018-04-26 08:13] martinpitt commented on #79
[code]

This was already fixed in #69, so this is a duplicate.

[2018-04-26 08:13] #79 closed

[2018-05-06 11:06] gicmo commented on #56
Sorry for the delay:
That would indeed be directly from `read` (or for other tests, `write`). In the thunderbolt test cases also for bolt, I am writing actual data to `/sys/bus/thunderbolt/devices/X/key` and `.../authorized` and the kernel (not udev) can (and will for invalid data) reject the write with something like `EKEYREJECTED`. So I thought it would be great if we could have a function with

[2018-05-17 10:24] EvaSDK opened #80 "umockdev does not actually link to gudev"
It looks like gudev is only used in unittests and the only reference in the actual lib is in Makefile.am `src_umockdev_run` targets. I suppose this should actually be `UDEV_CFLAGS` and `UDEV_LIBS` there. Would you accept a patch making gudev optional (default autodetected) for unittests ? It would be useful for expressing correct dependencies in Gentoo.

[2018-05-23 08:27] martinpitt commented on #80
Indeed umockdev-run doesn't even use libudev, so this can go entirely. Thanks for pointing out! Pushing a fix.

[2018-06-15 17:42] dkl opened #81 "umockdev-record hangs when reading some driver's sysfs attribute files"
Hi,

`umockdev-record --all` can sometimes hang when trying to read certain sysfs files, if the read blocks.

For example I noticed this with the `fwlog` attribute of a `wl12xx` device. It appears as empty regular file, but when doing `cat` on it, it hangs in `read()` until CTRL+C (same with umockdev-record). I tried using `Posix.open(... O_NONBLOCK)` instead of `FileUtils.get_data()` but that did

[2018-07-13 16:51] superm1 opened #82 "Replay USB control transfers?"
I was hoping to use umockdev to mock a USB device characteristics.  I normally interact with the device via HID reports.

I've found that trying to capture the interactions with both `--ioctl` and `--script` don't actually work though.

For the purpose of showing this, I wrote a really simple sample application and wrapper that could interact with two of the USB endpoints here:
https://github.com/

[2018-07-13 16:52] superm1 commented on #82
Also all of the sample data I've saved in a commit on that repo with the sample program.

[2018-07-13 19:39] superm1 commented on #82
One more thing to add in case it helps to understand what's going on, here is what libusb is actually doing during those calls.

[code]

[2018-07-14 03:37] superm1 commented on #82
Ah, I think I might have figured out what's going on.

Was looking through `UMOCKDEV_DEBUG=ioctl-tree` output and matching to code and encountered this snippet:
[code]

From my understanding that sounds like it's exactly the problem here.  The buffer does change between `SUBMITURB` and `REAPURB`.  That's actually the exact data I'm interested in here.

[2018-07-31 15:17] PureTryOut opened #83 "Compilation failure on tests"
I'm trying to compile umockdev on a Musl based system (not sure if relevant), but it fails to compile some tests which breaks compilation entirely.

[code]

This happens at least for version 0.11.3.

[2018-08-17 12:49] martinpitt commented on #83
I just pushed some changes which should fix these two issues. Can you please try to build current git master to confirm?

[2018-08-17 14:33] PureTryOut commented on #83
Sadly it does not. You added a `#ifdef __MUSL__` statement but that's not actually something Musl defines. Musl has no way to differentiate itself from other libc's by itself, so normally `#ifndef __GLIBC__` is used.

Also, when adding that instead, compilation fails on some now unused variables. Based on your commits I made a working patch for Musl (applied on top of 0.11.3, **not** the latest gi

[2018-08-17 15:25] dkl commented on #81
Yea, I can do more tests (in about 2 weeks); trying `select()` sounds like a good idea.

[2018-08-18 05:15] #83 closed

[2018-08-18 06:09] martinpitt commented on #81
As a first step, I rewrote the attribute reading using a single non-blocking POSIX `read()`. This should already be a bit better, and it's now easy to add a `select()` or other additional check into it.

I'm doing this in https://github.com/martinpitt/umockdev/tree/record-all .

[2018-08-18 07:54] martinpitt commented on #81
I pushed the `select()` check to the branch. I don't have access to a machine which exhibits this behaviour (I tried my own and all Debian porter boxes), so when you have a chance, can you please give this a try? Thanks!

[2018-08-18 15:17] z3ntu commented on #83
@PureTryOut I think that we have a patch for that (some include change) in the pmos branch

[2018-08-18 19:07] martinpitt commented on #83
@PureTryOut : These `_IOC_*` macros don't come from libc, but from the Linux kernel headers (/usr/include/asm-generic/ioctl.h here), and umockdev really needs those. But it seems @z3ntu already has a fix for that :-)

[2018-08-18 19:58] martinpitt commented on #78
My own devices don't have anything in /sys/bus/pci/slots, but the "barriere.debian.org" porter box has.

`umockdev-record --all` only enumerates everything in /sys/devices/, as there is way too much criss-cross symlinking and stuff which isn't relevant for devices in the other dirs. However, I can't seem to find any link from e. g. /sys/devices/pci0000:00/0000:00:06.0/virtio3/net/eth0 to the slots

[2018-08-18 20:02] martinpitt commented on #31
This is a much better approach IMHO, given how special nework devices are in Linux they don't really fit well with umockdev. So I'm closing this now. Thanks!

[2018-08-18 20:02] #31 closed

[2018-08-18 20:31] dkl commented on #81
Ok thanks, will do.

[2018-08-18 20:34] martinpitt commented on #54
I searched the interwebs for this, and I think it's not possible to declare sentinels in Vala. There is a [sentinel CCode attribute](https://wiki.gnome.org/Projects/Vala/Manual/Attributes), but it's the "wrong way around" (it specifies a sentinel for calling variadic C functions, for Vala bindings).

It could be hacked into the generated umockdev.h, though. Adding a simple `__attribute__((sentinel

[2018-08-18 21:49] z3ntu commented on #83
That should be https://gitlab.com/postmarketOS/pmbootstrap/blob/feature/unity8/aports/main/umockdev/fix-ioctl.patch
You can also look at the other `.patch` files in that directory which contains what we needed.
The 64-bit patch is because musl defines some of the things that were commented out as an alias to the non-64-bit variant which then resulted in the same thing being registered twice and fa

[2018-08-19 08:29] martinpitt commented on #83
Thanks, this `#include` change actually looks correct. I pushed it to master: https://github.com/martinpitt/umockdev/commit/62261c55ceb2

So fix-musl-errors.patch, fix-failing-tests.patch, and fix-ioctl.patch should now be obsolete with current master.

fix-64bit-errors.patch needs a closer look. `man ioctl(2)` really shows the declaration as `unsigned long request`, changing that to `int` sounds

[2018-08-19 12:11] martinpitt commented on #83
Most of your [fix-64bit-errors.patch](https://gitlab.com/postmarketOS/pmbootstrap/blob/feature/unity8/aports/main/umockdev/fix-64bit-errors.patch) should now be obsolete with commit https://github.com/martinpitt/umockdev/commit/741753653f197659bdc0496a33a6afb757686870 .

This leaves the `ioctl()` part. If you want to craft a configure.ac check for it, I'm happy to include that upstream, but it mus

[2018-08-19 12:30] z3ntu commented on #83
https://pastebin.com/eU9et6hi is the current build log; and also thanks for trying to make it work more elegantly than our patches :)

[2018-08-19 12:41] martinpitt commented on #83
@z3ntu : Argh, sorry for the `stat()` vs. `stat64()` confusion, I fixed that on current master (I force-pushed, sorry). As for the `fopen64()` and `__xstat()` failures, the configure.ac test was supposed to be "no" for you. Can you verify?
[code]
If they are "yes", then your libc actually *does* define them, but they are not in the header files. At this point it becomes too cumbersome for me to fi

[2018-08-19 14:39] z3ntu commented on #83
[code]
:(

[2018-08-19 15:03] z3ntu commented on #83
[code]

This works for me. Mostly copied from http://lists.busybox.net/pipermail/buildroot/2015-July/135135.html

[2018-08-19 16:49] z3ntu commented on #83
Maybe with this change in `configure.ac` the previous patch has to be reverted partially or adjusted?

[2018-08-19 19:43] martinpitt commented on #83
@z3ntu : Thanks, this looks mostly good. But it drops the check for `__xstat()`. Your libc has it, so apparently it's not part of a header file?

It would be nice to put that under CI, so that it doesn't break again in the future. musl is actually packaged in Debian and Ubuntu, so I gave that a try. Documenting the steps here for future reference:

 * `apt install -y musl-tools`
 * `./autogen.sh C

[2018-08-19 19:46] martinpitt commented on #83
BTW, your patch "works" for you because it moves `HAVE_FILE64` to the new `HAVE_OPEN64`, which isn't being checked anywhere. Thus it effectively just disables these functions.

[2018-08-19 20:36] martinpitt commented on #83
As I'm now at least able to compile with musl headers, I fixed the `*64()` detection in commit and the ioctl request type in commit . As I wrote below, I can't link though, and thus don't run tests either. Without further hacks, it fails with
[code]
Probably because musl-gcc only looks in /usr/lib/x86_64-linux-musl/. When I use

    ./autogen.sh  CC=musl-gcc CFLAGS="-I `pwd`/include -L/lib/x86_64-

[2018-08-19 20:37] martinpitt commented on #83
Not really, as musl actually *does* export symbols like `__xstat()`, it just doesn't provide headers for it. So that check won't work either. Either way, the guarding with `__GLIBC__` should do for now.

[2018-08-19 20:49] z3ntu commented on #83
[code]

[2018-08-20 09:18] PureTryOut commented on #83
Awesome job, it now completely compiles! There are some warnings left, but at least we don't need any custom patches any more. Also thanks for setting up automated testing with Musl, I wish more software projects gave that much care to alternative setups to what they're used too!

[2018-08-20 09:48] martinpitt commented on #83
Nice! Note that I didn't actually set up CI for it, as I'm unable to get over that linker error (see above).

[2018-08-20 10:04] z3ntu commented on #83
I'm trying to set up a Docker image that builds it in an Alpine Linux environment, hopefully that can be used in the CI.
The reason you get linker errors is that the dependencies for umockdev are compiled for glibc and not for musl so it's probably a pain to get everything running under a non-musl system except you want to compile everything yourself.

[2018-08-20 10:42] z3ntu commented on #83
`Dockerfile`:
[code]
Commands to run:
[code]

[2018-08-20 20:12] martinpitt commented on #83
Awesome, thanks @z3ntu! I am adding that in a [branch](https://github.com/martinpitt/umockdev/tree/alpine-test), and got a first result: https://travis-ci.org/martinpitt/umockdev/jobs/418396791

This reproduces the warnings, and I get a test failure in `t_testbed_dev_access()`, so some function isn't properly wrapped for musl. I can reproduce this just fine locally, so it's now fairly easy for me

[2018-08-20 21:17] martinpitt commented on #83
I fixed all the warnings and figured out the wrong `stat()` result in the branch, now checks are getting [much further](https://travis-ci.org/martinpitt/umockdev/jobs/418421205). Now some ioctl related tests fail, but everything else succeeds:
[code]
This actually sounds very closely related to the `int` vs. `unsigned long` type change. Debugging this is not a  small thing, too late for tonight. I

[2018-08-22 08:12] martinpitt commented on #83
There, I just had to disable one test, and work around #19. CI is there now: https://travis-ci.org/martinpitt/umockdev/builds/419057274

So building and `make check` ought to work for you now.

Thanks for your help! I'll look into the remaining issues soon.

[2018-08-22 09:34] PureTryOut commented on #83
Awesome job! Thanks for your attention to the problem!

However I am still getting a failed test somehow.

[code]

[2018-08-22 20:47] martinpitt commented on #83
I worked on the two test workarounds mentioned above tonight, and am happy to report that with latest master there are now no disabled tests any more, and they
[all succeed](https://travis-ci.org/martinpitt/umockdev/builds/419361571). So from now on, no regressions on Alpine any more :)

@PureTryOut : In what environment are you testing this? That `openpty()` failure smells like /dev/pts/ptmx does

[2018-08-22 21:40] PureTryOut commented on #83
Ah missing mount point might be right. I'm testing it in a chroot automatically made by our [pmbootstrap](https://gitlab.com/postmarketos/pmbootstrap) tool. I'll report this to our own issue tracker then.

[2018-08-23 06:00] martinpitt commented on #83
@PureTryOut : if you re-run the test in the mentioned fixes branch, you should get a more helpful error message to point to the problem.

[2018-08-26 10:40] #19 closed

[2018-08-26 15:13] martinpitt commented on #83
This is now released in [0.12](https://github.com/martinpitt/umockdev/releases/tag/0.12), for easy downstream packaging.

[2018-09-11 15:27] dkl commented on #81
I've tested it again today, but this [test program](https://gist.github.com/dkl/168935259d5cf931ed1214f5d169d0ba) using O_NONBLOCK+select() even hangs, with strace showing this:
[code]
It seems to be the same issue for `umockdev-record --all` built from the record-all branch:
[code]

[2018-09-14 09:05] martinpitt commented on #81
Thanks for testing. It seems outright impossible from userspace then to not fall into this trap. I suggest filing this a a kernel bug instead, as this attribute is really just completely broken then :-(

[2018-09-21 15:25] mrc0mmand opened #84 "Missing O_TMPFILE on some systems"
Hello!

I'm trying to build umockdev for RHEL/CentOS 7 to be able to use it in our systemd test suite, but I came across one issue. On CentOS/RHEL 7.5 and lower the `O_TMPFILE` constant is not defined, which causes a compilation error. Nevertheless, the `fnctl.h` header contains the `__O_TMPFILE` constant, so by applying a simple patch[0] I'm able to successfully build umockdev on CentOS 7[1].

I'

[2018-09-21 15:49] martinpitt commented on #84
Thanks @mrc0mmand ! This looks fine aside from one issue which I commented on that commit. Please do open a PR, then we can see what CI has to say about it.

I see the [tests are happy](https://copr-be.cloud.fedoraproject.org/results/mrc0mmand/umockdev/epel-7-x86_64/00801278-umockdev/build.log.gz) on CentOS 7, so that's good.

If you want to go the extra mile, I [recently added docker based CI for

[2018-09-21 19:30] mrc0mmand commented on #84
Thanks for the review, I opened a PR with the requested changes - Travis seems to like it. The Alpine CI is a great idea, I'll definitely look into that!

[2018-09-23 07:25] #84 closed, assigned to nobody

[2018-10-03 00:52] dkl commented on #81
Ok, that makes sense. I'll just close this then since there's no good way to work around it.

[2018-10-03 00:52] #81 closed

[2018-10-05 20:39] z3ntu commented on #83
Hey again, the following fix is needed to compile it on armhf. I don't know if it's correct and does what is intended, but it compiles on armhf which should be good enough ;)
[code]

[2018-12-07 15:56] EvaSDK commented on #80
Actually, gudev is still mandatory due to PKG_CHECK_MODULES not being wrapped by a configure switch or tweaked to have a non-fatal _action-if-not-found_. Which solution would you prefer ?

[2018-12-11 14:11] martinpitt commented on #80
Non-fatal `action-if-not-found` sounds right. Then `Makefile.am` can conditionally build/run test-umockdev.

[2018-12-12 21:35] filbranden commented on #78
Hi @martinpitt, sorry for taking this long to get back to you on this.

So `/sys/bus/pci/slots` enumerates the "hotplug" slots.

I agree it's pretty disconnected from `/sys/devices` but it seems that's how it works...

The field that is interesting there is stored in the `address` pseudo-file, I think at time of recording umockdev should probably traverse the `/sys/bus/pci/slots` tree and create a

[2018-12-12 21:53] filbranden commented on #78
Actually, I just found a VM where I have an `ens33` network adapter!

[code]

And:

[code]

So I do have a machine where I can test such a change...

[2019-01-22 03:19] dlech commented on #56
Could we use something like [ptrace](http://manpages.ubuntu.com/manpages/bionic/en/man2/ptrace.2.html) to intercept and modify syscalls? Once upon a time, I used [PRoot](https://github.com/proot-me/PRoot) that does something like this.

[2019-01-22 03:48] dlech commented on #56
Or perhaps one could use libfuse?

[2019-05-29 08:38] YenBorLin commented on #80
I followed instruction to build umockdev, and these are the commands:
--------------------------------------------------------------------
git clone https://github.com/martinpitt/umockdev.git
cd umockdev
sudo apt install autoconf automake libtool gtk-doc-tools lcov
./autogen.sh
--------------------------------------------------------------------
the error message was given:
" No package 'gudev-1.0

[2019-06-04 06:27] martinpitt commented on #80
@YenBorLin : Until this is fixed, do `apt install libgudev-1.0-dev`.

[2019-06-05 00:42] YenBorLin commented on #80
ok, umockdev was compiled successfully.

thank you

[2019-06-10 18:43] #54 closed

[2019-06-10 18:44] martinpitt commented on #54
Closing, I have no idea how to fix this properly, unfortunately.

[2019-06-10 19:05] #80 closed

[2019-06-17 11:11] rossburton opened #89 "Use AX_CODE_COVERAGE in autoconf-archive instead of gnome-common"
As per https://mail.gnome.org/archives/commits-list/2014-August/msg08906.html `GNOME_CODE_COVERAGE` is deprecated, and `AX_CODE_COVERAGE` in autoconf-archive should be used.
They're basically identical so ports are trivial, for example see https://mail.gnome.org/archives/commits-list/2014-August/msg08906.html.

[2019-07-21 21:32] #89 closed

[2019-07-21 21:33] martinpitt commented on #89
Fixed in https://github.com/martinpitt/umockdev/commit/1f4728e08421b15e8a371837fc5d834fdcc3bf0c . Thanks for your report!

I will do a new upstream release with this RSN.

[2019-07-22 08:28] martinpitt commented on #89
Released in 0.13.

[2019-07-22 09:44] rossburton opened #91 "Build of 0.13 fails in coverage rules"
configure reports:
[code]
(remove the GNOME mention, as the GNOME rules are not used anymore)

Then make:
[code]
The Makefile looks like this:
[code]

According to [the documentation](https://www.gnu.org/software/autoconf-archive/ax_code_coverage.html) `@CODE_COVERAGE_RULES@` should be replaced with `  include $(top_srcdir)/aminclude_static.am`.  Personally I'd also drop the `m4_ifdef` and just co

[2019-07-22 19:17] martinpitt commented on #91
I can't reproduce this in Debian sid, I tried all combinations of "no autoconf-archive", "autoconf-archive but no lcov", and "autoconf-archive and lcov". Your configure output looks like you do  have autoconf-archive installed, but  did not configure with `--enable-code-coverage`.

So apparently your version of autoconf-archive does define `AX_CODE_COVERAGE`, but does not define `CODE_COVERAGE_RUL

[2019-07-22 19:19] martinpitt commented on #91
Oh, the tarball says "no" because that's hardcoded into the built configure -- the tarball gets generated by Travis, in an environment  without autoconf-archive.

So how and where (OS, installed packages) exactly are you experiencing this?

[2019-07-22 19:48] rossburton commented on #91
Built in Yocto Project, from your tarball, after a fresh autoreconf, with autoconf-archive 2019.01.06.

[2019-07-22 19:49] rossburton commented on #91
Google suggests that AX_CODE_COVERAGE changed its API: https://gitlab.freedesktop.org/dbus/dbus/commit/2938c2125ebcd001e470aeac1ffac45b6b1ebe89

[2019-07-22 20:03] #91 closed

[2019-07-22 20:03] martinpitt commented on #91
Should be fixed with https://github.com/martinpitt/umockdev/commit/9b9b31b32952, I'll make a new 0.13.1 release now.

[2019-07-22 20:15] martinpitt commented on #91
Released: https://github.com/martinpitt/umockdev/releases/tag/0.13.1

[2019-08-28 22:36] dlech commented on #43
iio is `bus` instead of `class` (fixed by #94)

[2019-09-01 11:08] martinpitt commented on #43
@dlech: Is that the only issue that keeps iio device emulation from working?

[2019-09-01 13:52] dlech commented on #43
Probably. It doesn't use any ioctls that I know of. I haven't done anything fancy with it yet though.

[2019-09-02 09:00] hadess commented on #43
A way to manage the ring-buffers where the latest readouts are kept would be useful, but just being to instantiate the device is nice already.

[2019-09-16 13:45] gicmo opened #95 "Making proc and removing files"
To remove a file in the `/proc` the docu suggest to create a broken symlink:

This does not seem to work because to check if a file exists in the mocked `proc` an `access` call is done, which dereferences the symlink, which will then fail and the real `/proc` will show through:

[code]

[2019-09-20 08:44] msergenergen opened #96 "umockdev-record does not record anything if recorded program overrides SIGINT"
I want to mock touchpad. But I didn't record anything into ioctl file.
When I was checking to mouse.ioctl file, I saw only this part

Probably, I didn't record anything. But I didn't get any error messages after following step;
`sudo umockdev-record -i /dev/input/event5=mouse.ioctl -e /dev/input/event5=mouse.events -- evtest /dev/input/event5`

 But I got this error message after following step;
`

[2019-09-20 11:10] msergenergen commented on #96
I tried running on another pc and devices (keyboard, external mouse, touchpad) (umockdev installation). But I didn't get any result.

[2019-09-27 06:29] msergenergen commented on #96
Also I tried install and run steps on another Ubuntu versions. (16,04 and 18,04) I got same error.

[2020-01-02 16:43] dkl opened #97 "umockdev-run hits assert with device file containing storage device"
Hi,

The latest umockdev-run aborts when run with the attached example device file [example.txt](https://github.com/martinpitt/umockdev/files/4016537/example.txt). (This is actually part of a bigger list produced by umockdev-record, but it seems to be only the entries for the USB mass storage device that trigger the problem.)

[code]

This used to work in version 0.12; git bisect pointed to 7c0671

[2020-01-05 20:59] martinpitt commented on #97
Thanks for the report! The device dump is indeed invalid, as it's a duplicated symlink:
[code]
I. e. the `disk/by-label/Xubuntu\x2016.04.3\x20LTS\x20amd64` symlink can only point to either sda or (much more plausibly) sda1. It's very unusual that the raw block device has a file system label, as in your case the first partition is the actual file system. So I wonder how that happened in the first p

[2020-01-05 22:09] martinpitt commented on #97
Reopening, as I'm still interested in the root cause of this.

[2020-01-07 15:17] dkl commented on #97
Thanks for the fix! I did some more tests. It was reproducible with a hybrid ISO image (a Debian live image in this case) on the USB stick, but not with a "normally" partitioned USB stick.

[code]

[sde.txt](https://github.com/martinpitt/umockdev/files/4031169/sde.txt)
[sdf.txt](https://github.com/martinpitt/umockdev/files/4031170/sdf.txt)

[2020-01-07 20:27] martinpitt commented on #97
Interesting, thanks! So udev is Not Wrong™, this is indeed a weird situation. So I think the fix here is adequate, one gets a warning, but it doesn't crash any more.

[2020-01-07 20:27] #97 closed

[2020-02-07 11:02] hadess opened #98 "Errors building umockdev on s390x rawhide"
Full build log of 0.13.2 at https://kojipkgs.fedoraproject.org//work/tasks/4866/41324866/build.log

[code]

[2020-02-08 21:19] martinpitt commented on #98
Thanks for the report! 0.13.12 still [built fine in September](https://koji.fedoraproject.org/koji/buildinfo?buildID=1370137), this looks like the compiler got stricter. This doesn't happen on any other arch, so it's a bit hard for me to reproduce.

However, it seems quite obvious that gcc 9 enables some static code checking that complains when printed `%s` values can be NULL. That it indeed the c

[2020-02-08 21:26] martinpitt commented on #98
I found similar issues in [systemd](https://github.com/systemd/systemd/issues/12534) and [bcal](https://github.com/jarun/bcal/issues/30). In between these it seemed that building with `-O3` and/or with various options like `CFLAGS="-g -O3 -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -Wp,-D_GLIBCXX_ASSERTIONS -fexceptions -fstack-protector-strong` would enable this, but unfortunately not.

[2020-02-08 22:02] martinpitt commented on #98
I tried cross-compiling with
[code]
but that fails very early on
[code]
and neither in the Fedora wiki nor Google I can find how to do this. Only recipes for the kernel, which doesn't need libc.

[2020-02-08 22:44] #98 closed

[2020-02-08 22:44] martinpitt commented on #98
Took a few attempts, but commit db7278c fixes it: [scratch build](https://koji.fedoraproject.org/koji/taskinfo?taskID=41435866)

[2020-02-08 22:56] martinpitt commented on #98
@hadess: I did a new release: https://github.com/martinpitt/umockdev/releases/tag/0.14

[2020-02-09 00:26] hadess commented on #98
Sorry I didn't get to fixing this. The new version works though:
https://koji.fedoraproject.org/koji/taskinfo?taskID=41435962
even on s390x

[2020-02-09 09:56] martinpitt commented on #98
@hadess: Nice, thanks for packaging it!

[2020-02-14 14:56] joaofl opened #99 "Having issues trying to simulate a ttyACM0 device"
I've been trying to use the umockdev (v14.1) lib to mock a ttyACM0 device on an ARM based platform with Yocto. I first included the recipe, compiled, deployed and installed it on the remote host, and so far it seems to work just fine.

The target device is connected to a second device through USB, and a C program interfaces /manages  a scanner of RFIDs connected to /dev/ttyACM0.

In order to get t

[2020-04-09 11:11] EmmanuelP opened #100 "Using umockdev on USB3Vision devices"
Hi,

I'm trying to mock a USB3Vision device for the testing of a library I'm developing. The library is aravis: https://github.com/AravisProject/aravis

This library relies on the iManufacturer, iProduct and iSerial fields in the USB device description. It looks like these fields are not recorded properly, as seen in this lsusb output with the mocked device:

[code]

The lsusb with the real device

[2020-04-25 18:15] martinpitt commented on #99
I'm afraid the `FIONREAD` ioctl isn't implemented in umockdev.  This also isn't trivial to add, it would essentially require reimplementing a significant part of the tty layer. ioctl emulation is rather difficult for a program like umockdev, and I only really did it for usbdevfs and evdev (as I needed these for my projects). Contributions appreciated of course :wink:

I suppose your recorded ttyAC

[2020-04-28 06:52] DanielMalangu commented on #96
Yes, I have this exact issue. I'm not sure why no one has attempted to provide a solution. Is this a problem that is not common at all?

[2020-04-30 18:41] msergenergen commented on #96
Probably many people did not occur this problem.

[2020-05-23 19:42] rgetz commented on #43
No, there are no ioctls in iio. You can emulate things with a "dummy" kernel device (if you want to compile your own kernel and check things out).

I just ran into umockdev - very cool.

This would be nice to use umockdev for validation automatic test of [libiio](https://github.com/analogdevicesinc/libiio) - right now it's alot of manual testing when we make a release. Since libiio uses multiple b

[2020-05-24 17:22] rgetz commented on #100
I can confirm the issues on master.

[code]
unplug the device
[code]

and the diff between the runs is:

[code]

which, like you - causes issues in the library I'm working on, which verifies the usb device by the `iInterface` type.

[2020-05-25 20:05] rgetz commented on #100
Just trying to dig into things a little bit...

It looks like the libusb function: `libusb_get_string_descriptor` isn't being recorded properly. and then returns error on playback.

https://github.com/libusb/libusb/blob/master/libusb/libusb.h#L1815-L1835

I don't know if this is a limitation, or just a bug...

-Robin

[2020-07-19 16:33] fredcox opened #101 "Fake Temperature"
Hi,

I developing one program with temperature cpu read. I need test my program in several virtual machines. Can i create one fake temperature syfs with umockdev in python3?

[2020-07-20 18:24] prakash56755 opened #102 "i2c ioctl"
Hi MArtin,

Im trying to emulate i2c ioctl calls but when I run "umockdev-record -s /dev/i2c-0=re.script -- /sbin/manger -f "  finally the script contains only  "d 0 /dev/i2c-0"  But there is nothing related to ioctl calls. do you know what is the reason?

[2020-07-31 19:42] ddstreet opened #105 "SocketServer ctrl_r sometimes can't read control byte"
For some reason the SocketServer ctrl_r pipe can't read a byte, after select indicated data ready on ctrl_r; for example:

https://objectstorage.prodstack4-5.canonical.com/v1/AUTH_77e2ada1e7a84929a74ba3b87153c0ac/autopkgtest-groovy-ddstreet-lp1831467/groovy/armhf/u/umockdev/20200731_174931_3daf3@/log.gz

This fails in src/umockdev.vala in:

[code]
I don't see why select() would indicate there's da

[2020-08-07 15:00] martinpitt commented on #105
According to select(2), an fd in `readfds` either has data or is EOF (when it returns 0). I don't immediately see how this could happen, though -- `this.ctrl_w` is never closed (in fact, that's a bug), so it should never EOF.

I'm able to reproduce this when I hack the `run()` thread a bit.

[2020-08-07 15:22] martinpitt commented on #105
I sent PR #106 which should fix that. Thanks for the report!

[2020-08-07 17:13] #105 closed

[2020-10-22 15:30] hadess opened #108 "assertion getting __xstat64 on rawhide"
On Fedora 34, we get an error trying to run the upower test suite:
[code]

See https://gitlab.freedesktop.org/upower/upower/-/jobs/5142881

[2020-10-22 15:31] hadess commented on #108
I used the new debug in https://github.com/martinpitt/umockdev/pull/107 to get that nice error message.

[2020-10-23 09:11] martinpitt commented on #108
I just added CI for fedora:{latest,rawhide}, and with the current container images [it worked](https://travis-ci.com/github/martinpitt/umockdev/jobs/404313684), so that's a fairly recent regression. I'll now add a `dnf update` to the containers. Locally on rawhide it doesn't even build any more, due to the same root cause:

[code]
(and some more for variants)

[2020-10-23 11:12] martinpitt commented on #108
Not actually sure *why* it would fail at runtime -- the symbol still exists:
[code]

Failing at build time is expected -- that glibc version dropped that entire xstat*() family. Dropping binary compatibility is a bit evil, though. However, your run used 2.32.9000-11.fc34 , current is -12, and that indeed [reverted that symbol removal](https://src.fedoraproject.org/rpms/glibc/c/5a5cbfec77be45d6e851

[2020-10-23 11:19] hadess commented on #108
Thanks for looking into it so quickly!

[2020-10-23 12:46] martinpitt commented on #108
Hmm, this is really tricky.. glibc 2.32.9000-11.fc34 dropped the declaration, but still has the symbols. Thus one can't use `AC_CHECK_LIB` with that, and instead I came up with this hack:
[code]
[code]
This fixes the compilation, but does not fix runtime -- other software like udevadm of course still links to/uses __xstat64() and friends, and thus umockdev ceases to work.

I think I want/need to m

[2020-10-23 13:05] martinpitt commented on #108
I threw this around a few times, and I didn't find a way to make it work with 2.32.9000-11.fc34. Without glibc defining the symbol, programs that call __xstat() through umockdev will just cause a linker error, regardless of where it is detected. So I just fixed the build against version -12 now.

[2020-10-23 13:06] martinpitt commented on #108
I threw this around a few times, and I didn't find a way to make it work with 2.32.9000-11.fc34. Without glibc defining the symbol, programs that call __xstat() through umockdev will just cause a linker error, regardless of where it is detected. So I just fixed the build against version -12 now.

[2020-10-23 13:12] martinpitt commented on #108
I threw this around a few times, and I didn't find a way to make it work with 2.32.9000-11.fc34. Without glibc defining the symbol, programs that call __xstat() through umockdev will just cause a linker error, regardless of where it is detected. So I just fixed the build against version -12 now.

[2020-10-23 13:12] #108 closed

[2020-10-23 13:34] martinpitt commented on #108
I released [0.14.4](https://github.com/martinpitt/umockdev/releases/tag/0.14.4) with this fix.

[2020-11-03 15:48] hadess commented on #96
You're missing one half of the commands, you also need to create the `.umockdev` file:
https://github.com/martinpitt/umockdev/blob/master/README.rst#record-and-replay-input-devices

(even though that doesn't work for me either)

[2020-11-04 12:09] hadess commented on #96
Nothing is getting saved to disk:
[code]

Looks like `DBG(DBG_IOCTL, "ioctl_record_sigint_handler: got signal %i, flushing record\n", signum);` is never getting triggered. I also tested running in a root shell, rather than under `sudo`, but the signal handler is not getting triggered.

[2020-11-04 12:25] hadess commented on #96
The interrupt handler in evtest is however getting triggered. Removing the signal handlers in evtest fixes it.

It might be useful to find a way to install the signal handler in a more robust way in `libumockdev-preload.c`. Right now, the signal handler in the preload is put in place before the one in evtest, which overrides it:
[code]

[2020-11-04 12:32] hadess commented on #96
See also https://gitlab.freedesktop.org/libevdev/evtest/-/issues/1

[2020-11-04 13:55] hadess commented on #102
Does `manger` install its own signal handler for SIGINT? If so, could be the same bug as https://github.com/martinpitt/umockdev/issues/96

[2020-11-12 08:22] martinpitt commented on #96
I'm of course open to suggestions how else umockdev-record (i.e. the preload library) could be told to stop recording and start writing the file. SIGINT seemed like an obvious choice back then, but indeed signal handlers don't chain well. Another possibility is to add some timeout to evtest and just let that exit cleanly?

[2020-11-16 16:26] xnox opened #110 "`cd /sys` lands in real instead of simulated /sys"
so, ubiquity does check for existance of /sys/firmware/efi/efivars

that doesn't work when ubiquity is running under umockdev.

i.e.
[code]

I guess that direntry emulation is expensive, but it would be nice if umockdev did emulate `/sys/firmware/efi/efivars` if the host system has it.

As behaviour is different in ubuntu-drivers when on efi and when on non-efi.

[2020-11-17 10:28] hadess opened #111 "Header installed in wrong place?"
Building 0.15:
[code]

`umockdev.h` should be installed in `/usr/include/umockdev-1.0`, or the pkg-config file updated:
[code]

[2020-11-17 11:17] #111 closed

[2020-11-17 11:18] martinpitt commented on #111
Argh, je suis désolé ! I just pushed a fix in commit 91f77b8, I'll do a 0.15.1 release today.

[2020-11-17 11:20] hadess commented on #111
Kein problem, danke sehr!

[2020-11-17 13:17] martinpitt commented on #111
Voilà: https://github.com/martinpitt/umockdev/releases/tag/0.15.1

[2020-11-28 10:02] martinpitt commented on #110
Hey @xnox, how are you?
[code]
No need for sudo BTW -- umockdev is primarily meant for running unit tests *without* root privileges. That said, it should of course work as root as well.

[code]
That's expected -- you didn't put anything into the testbed, so /sys is empty by default:
[code]

You can certainly `mkdir -p $UMOCKDEV_DIR/sys/firmware/efi/efivars` to fill your simulated testbed. Normally

[2020-11-29 19:39] #110 closed

[2020-11-29 19:40] martinpitt commented on #110
Fixed in master, thanks for the report! There is still one remaining corner case which doesn't work: `cd /; ls sys`, i.e. relative paths into the emulated directories. I'm looking at that now.

[2020-11-30 22:16] xnox commented on #110
the corresponding directories in ``$UMOCKDEV_DIR``, aka.
``umockdev_testbed_get_root()``. However, if a path does not exist there, it
falls through the real ``/proc`` and ``/dev``. Thus you can easily replace
files like ``/proc/cpuinfo`` or add new ones without losing standard files such
as ``/dev/null`` or ``/proc/pid/*``.

Ermhf =) that's a step in the wrong direction for me =)))))))) but maybe

[2020-11-30 22:25] xnox commented on #110
Maybe that needs to be reverted, and instead in https://github.com/tseliot/ubuntu-drivers-common/blob/master/share/fake-devices-wrapper i should add things to bind-mount efivars.

[2020-11-30 22:32] xnox commented on #110
I've now opened https://bugs.launchpad.net/ubuntu/+source/ubuntu-drivers-common/+bug/1906320 hopefully, with my now improved understanding of umockdev testbed, it is the right approach.

I.e. the /usr/share/ubuntu-drivers-common/fake-devices-wrapper should bindmount and/or populate efivars.

[2020-12-01 05:17] martinpitt commented on #110
Right, that's by design -- the whole raison d'être of umockdev is to simulate an user-defined /sys, so that tests don't have to rely on hardware.

You can try something like this:
[code]

but beware that this is breaking tests in the sense that you make the test dependent on the hardware it's running on. So I rather suggest making tarballs of a bunch of real systems with the properties that you wa

[2020-12-14 21:59] martinpitt commented on #101
You can fake any file in /sys with umockdev easily, yes. I suppose `/sys/devices/virtual/thermal/thermal_zone0/temp` is a good start, of course which particular file you need depends on the program that is reading it. Was that just a general question, or did you run into difficulties with that? In the latter case, do you have some code to look at?

[2020-12-15 00:58] #101 closed

[2020-12-15 00:58] fredcox commented on #101
ok thank you

[2020-12-22 22:25] flokli opened #115 "testsuite fails with libusb 1.0.24"
While doing a nixpkgs bump, I tried compiling umockdev, and realized tests in umockdev suddenly broke:

[code]

I bisected this to the "libusb 1.0.23 -> 1.0.24" bump in nixpkgs (commit id 24342209d4011e4ca2d68c1507403d7f3cdd5607 there)

[code]

Can you reproduce this on your systems, with libusb 1.0.24?

[2020-12-22 22:29] flokli commented on #115
While nixpkgs currently is on umockdev 0.13.1, I was able to also reproduce the failure with umockdev 0.15.2 - and moving libusb back to 1.0.23 did get the tests to succeed.

[2020-12-23 06:55] martinpitt commented on #115
I noticed something like this yesterday in a [debian testing run](https://github.com/martinpitt/umockdev/runs/1596076988?check_suite_focus=true#step:3:2315). It also fails in an lsusb test now. Indeed Debian [did the same version bump](https://tracker.debian.org/pkg/libusb-1.0). So I need to re-do the recorded traces to also match this version.

[2020-12-23 21:15] martinpitt commented on #115
Unfortunately the test failure with Debian is slightly different -- lsusb just exits with 1 without printing a single error message, whereas in your case it did succeed (exit code 0) but did not print the expected device. But I'll start with investigating this on Debian (which is much easier for me), and with some luck it is the same root cause.

I bisected this to https://github.com/libusb/libusb

[2020-12-24 21:35] #115 closed

[2020-12-24 21:37] martinpitt commented on #115
@flokli : I fixed this in commit 1b58d24 now. It most probably works for nix as well, please let me know if it doesn't. I'll do a new upstream release with this fix in a few days.

[2020-12-24 23:58] flokli commented on #115
Hmm, this doesn't seem to do the trick for me:

When just applying that patch on top of 0.15.2, I get the following output:
[code]

When building `umockdev` from 1b58d24 directly, this:

[code]

[2020-12-25 05:42] martinpitt commented on #115
@flokli : Interesting, that `/umockdev-testbed/libc` failure is unrelated to the libusb changes, but some fallout from a recent glibc or possibly kernel upgrade. At this point it'd be best to include NixOS in CI, to make sure that umockdev keeps working there. It's been in NixOS for some time, after all. I'll try to come up with a tests/run-nix script using the official https://hub.docker.com/r/ni

[2020-12-25 06:34] martinpitt commented on #115
@flokli : Hm, I have tried for an hour how, stumbling around nix-env, building a default.nix that uses a local source checkout, etc., and I'm not really getting anywhere. Could you show me the commands to run in a

    podman run -it --rm --volume `pwd`:/source:ro docker.io/nixos/nix

container (docker works as well, of course) that will install the build deps and build/test umockdev? I'm happy to

[2020-12-27 03:09] jtojnar commented on #115
You can either clone [nixpkgs](https://github.com/NixOS/nixpkgs) and edit [`pkgs/development/libraries/umockdev/default.nix`](https://github.com/NixOS/nixpkgs/blob/e8ee6c35110d21286cde2ad2e5f85db133bb95cf/pkgs/development/libraries/umockdev/default.nix) (change `src` and `patches` keys and add `doCheck = true`) and then run `nix-build -E 'import /nixpkgs-source-path {}).umockdev'`

Or override the

[2020-12-27 11:12] martinpitt commented on #115
Thanks @jtojnar! This looks workable, especially solution 3. Note for myself: Add `--keep-failed` to retain the build dir.

I get a [different failure](https://github.com/martinpitt/umockdev/runs/1613641965?check_suite_focus=true), though:

[code]
This seems related to commit 3cc547f4af7:
[code]
I attempted to fix that, but it's apparently not working just yet. I'll keep looking into this.

@flokl

[2020-12-27 11:32] martinpitt commented on #115
The test-static-code failure is weird.. It gets called (unnecessarily, for technical reasons) through umockdev-wrapper, and it seems from the build tree the linker gets upset:
[code]
It does seem to link against the right libc:
[code]
I am at loss with this. The nix build env is rather hard to debug, as pretty much nothing is "in the system", which breaks drilling down to invididual build/test ste

[2020-12-27 11:59] martinpitt commented on #115
Commit 0e60ddbff6f05345f adds a nix test, which [succeeds](https://github.com/martinpitt/umockdev/runs/1613731206?check_suite_focus=true). This hacks around the test-static-code failure by dropping the test from meson.build. Help with fixing this properly would be very much appreciated! But at least that will now keep the general build working, so 0.15.3 should be by and large ok for you?

Thanks

[2020-12-27 12:29] jtojnar commented on #115
Hmm, I am also getting the `9 == 2` error in Nix on Ubuntu but can reproduce the symbols not found in Docker. Not sure if there is any difference other than possibly different sandboxing level. Will try to look into it.

For CI, it might be better to use [`nixos-unstable` branch](https://github.com/NixOS/nixpkgs/archive/nixos-unstable.tar.gz) since it tracks the latest commit from `master` branch

[2020-12-27 13:17] jtojnar commented on #115
I could reproduce it in Docker by running the environment in `/tmp/nix-build-umockdev-0.15.2.drv-0/source/build/meson-logs/testlog.txt`:

[code]

It looks like it does not actually seem to be using the correct `ld.so`:

[code]

[2020-12-27 13:28] flokli commented on #115
The `nixos/nix` docker image isn't super pure, IIRC the Nix sandbox is disabled, as the seccomp stuff it does doesn't work inside docker. musl leaking in seems to suggest that.

If this targets github actions, it's probably easier to use https://github.com/marketplace/actions/install-nix (which should have the sandbox enabled).

[2020-12-27 16:01] martinpitt commented on #115
"musl leaking in" does sound like a good hint.. It would explain both the `*_chk symbol not found` errors and probably also the `9 == 2` test failure; the latter effectively checks that `openat( open("/run", O_RDONLY | O_DIRECTORY), "sys", O_RDONLY)` returns `ENOENT` (2), whereas in your environment it returns `EBADF` (9), which means that the first `O_DIRECTORY`.

umockdev does work with musl in

[2020-12-27 16:08] martinpitt commented on #115
@jtojnar : I tried to move to `url = "https://github.com/NixOS/nixpkgs/archive/nixos-unstable.tar.gz"`, but that fails to build early:
[code]
in other words, this is still the old autotools build system, and https://github.com/NixOS/nixpkgs/blob/nixos-unstable/pkgs/development/libraries/umockdev/default.nix is indeed much older than https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/lib

[2020-12-27 16:18] jtojnar commented on #115
Well, the Nix builds outside of Docker are sandboxed so the musl cannot be an issue there.

Yeah, that's what I meant by it "does not yet contain the switch to meson based builds". The issue with using master is that it might not have prebuilt binaries available yet, depending on how busy our infrastructure is. `nixos-unstable` will be already built and tested (but sometimes is several days behind

[2020-12-27 16:20] flokli commented on #115
Yes, the sandbox can be enabled, if you can start a privileged containers: https://github.com/NixOS/docker#limitations

I proposed using the install nix action because then Nix is installed on the runner directly (for that run) and you don't need to mess with wrapping it in docker/podman in CI at all. Locally reproducing can be done on systems with Nix installed, or doing the privileged container

[2020-12-27 16:59] martinpitt commented on #115
A-ha! I [enabled sandboxing](https://github.com/martinpitt/umockdev/commit/cc33e0202ee48af6f45ec55f88e9affdd2acd300); locally for a developer, running an *user* podman container with `--privileged` is no big deal, and it totally doesn't matter on CI either. This indeed fixes the test-static-code failure, and locally I now get these two failures:
[code]

The exact same errors happen [in GitHub CI](

[2020-12-27 17:09] martinpitt commented on #115
How do you debug failures like this? I. e. after a failing `nix-build --keep-failed` with sandboxing, how can I "enter" the built sandbox? A naïve
[code]
obviously does not work, and `LD_LIBRARY_PATH=. ./test-umockdev` immediately fails as well (unsurprisingly).

https://github.com/NixOS/nix/issues/1147 and nix-shell sound promising, but I can't put it together..

[2020-12-27 17:14] jtojnar commented on #115
The `/tmp/nix-build-umockdev-0.15.2.drv-0/` should contain `env-vars` file with the environment. Replacing the `nix-build` program for `nix-shell` in the commands above should also put you into the environment.

Also, I am experiencing just the `9 == 2` error, `umockdev-vala` passes for me in Nix sandbox outside of Docker (I can reproduce it in Docker) so that might be something else (perhaps sand

[2020-12-27 17:48] flokli commented on #115
You might be able to use `breakpointHook` (which will "pause" the build on a failure, and allow you to enter the build environment via `cntr`) - see https://discourse.nixos.org/t/debug-a-failed-derivation-with-breakpointhook-and-cntr/8669.

I never tried this through podman, but it might work :-)

[2020-12-27 18:40] AngryPenguinPL opened #116 "0.15.3 - error: cast to smaller integer type 'enum script_record_format' from 'const void"
When compile 0.15.3 I see this error: cast to smaller integer type 'enum script_record_format' from 'const void *' [-Werror,-Wvoid-pointer-to-enum-cast]
Worth to add 0.14.1 compile without issues.

OS OpenMandriva Cooker
Compiler: Clang 11

Build log with error:

[code]

Full build log: http://file-store.openmandriva.org/api/v1/file_stores/cbc3df2ad478ee72b3ae2454b6ca821351c59bbd.log?show=true

[2020-12-27 20:56] martinpitt commented on #116
This line was added in 2014 in commit 95b65647e0d1, so I rather suspect it's some new clang version that causes the new warning?

Anyway, I can reproduce this with clang on Fedora, I'll add that to CI and fix it, thanks for the report!

[2020-12-27 21:09] #116 closed

[2020-12-28 07:54] martinpitt commented on #115
Thanks! `breakpointHook` sounds like what I really want, but it doesn't work:
[code]

I tried to replace `nix-buid` with `nix-shell`, and that downloads/installs the build dependencies and such. I can do the usual `cd /source; meson setup /tmp/dbg --buildtype debug`, and build/test, but that again falls into the `__memcpy_chk` failures, and does not reproduce the sandboxed failures. So it seems I

[2020-12-28 12:28] flokli commented on #115
@martinpitt `breakpointHook` is accessible in `pkgs`.

This probably has exceeded the amount of characters I'd feel comfortable with having inline, but if you create a `default.nix`:

[code]

and run `nix-build default.nix`, that should get you what you want.

[2020-12-28 15:30] jtojnar commented on #115
`umockdev` should be `pkgs.umockdev` in the above expression.

[2020-12-28 15:42] martinpitt commented on #115
I welcome having a default.nix file, it's much clearer than cramming it into a single command indeed. The version above fails with

    error: undefined variable 'umockdev' at /source/tests/default.nix:3:4

I'm googling around for similar recipes (it's hard to find one), as to me the syntax is not quite intuitive. But as this introduces a `pkgs` namespace, I tried with `in pkgs.umockdev.overrideAt

[2020-12-28 16:13] flokli commented on #115
IIRC, `cntr` won't bring you the exact same sandbox - the idea is mostly be able to poke around with the build outputs and have some of the environment variables set, but you "bring your own, more powerful userland" with you. Or @Mic92, did I miss something?

[2020-12-29 07:25] martinpitt commented on #115
Hm, I still don't understand this -- there must be *some* easy way to get a shell in the very build environment that `nix-build` uses to invoke the build. Anything else would make debugging insanely difficult. I'm sure that works somehow, I just don't know it yet.

If `cntr` somehow doesn't work properly in a docker environment, and that works in a plain VM, I can also look at that. These are much

[2020-12-29 07:27] martinpitt commented on #115
I did try that, but it is rather difficult with all the `$PATH`, `$LD_LIBRARY_PATH`, `$TMPDIR` etc. being wrong. You can't even do `. env-vars`, as nix' default shell does not understand the syntax of this (`declare -x`) (otherwise I could vi the file, prepend the /var/lib/cntr prefix, and source it again). There seems to be a lot of impedance mismatches in all these parts :cry:

[2021-01-02 22:05] flokli commented on #115
Sorry for this being so frustrating. Probably the easiest way is to either use the Nix installer on most other Distributions, or one of the NixOS images shipped on the website: https://nixos.org/download.html

[2021-01-03 09:44] martinpitt commented on #115
I started a fedora 33 VM, and ran (as user):
[code]
This reproduces exactly the failures that I [see in the container](https://github.com/martinpitt/umockdev/runs/1639133701?check_suite_focus=true).

When I add `pkgs.breakpointHook` to the `nativeBuildInputs`, I get a similar `cntr` command, but trying to run that fails:
[code]
I can't run it through sudo either, as all of these commands are speci

[2021-01-03 11:06] martinpitt commented on #115
I prodded around a bit by hacking the source (`system("ls -l")` style) and iterating `nix-build ~/default.nix`. I figured out the reason for the `9 != 2` error code, and fixed it in commit 7719fefcf72ad898cb6ca26a1c4c71fb25358af8 . That was quite shallow.

`test-umockdev` still has one subsequent failure, though, in the [lsusb test](https://github.com/martinpitt/umockdev/runs/1639228766?check_suit

[2021-01-03 13:01] flokli commented on #115
@martinpitt wow, thanks for being so persistent despite the bad debuggability. I'll try to build it on that commit and will report back.

`lsusb` not being able to reach "real" usb devices should be expected in a sandbox environment, shouldn't it?

There's probably not much documentation about it, but Nix does set up some seccomp filters [here](https://github.com/NixOS/nix/blob/724b7f4fb660212a97b

[2021-01-03 13:08] flokli commented on #115
I confirmed I'm able to build and run tests in 71014c2b6de49cc90c246cb0709b1126aec073b8 without any patches on top, in the sandbox, see https://github.com/NixOS/nixpkgs/pull/108317 for the PR.

[2021-01-03 15:49] martinpitt commented on #115
@flokli: That lsusb test case tests simulated devices. It could still be some weird side effect of the machine not having a real /sys , but that's a bit hard to debug. That nixpkgs PR looks pleasantly green, so that seems good enough? I'll make a 0.15.4 then. Thanks for your help!

[2021-01-05 10:13] benzea commented on #82
I might look into this some time soon. I kinda need it for libfprint testing.

Though, tbh. for libfprint testing I would prefer a pure trace/replay approach in general. i.e. I keep needing to manually restructure the ioctl tree because the devices repeat the same commands with differing responses and umockdev incorrectly groups them.

[2021-01-05 10:18] benzea commented on #82
I am thinking that we need to do some sort of partial matching on the submit buffer. e.g. for a register read match everything except for the value data (rather than nothing).

[2021-01-20 17:31] hadess commented on #43
I've managed to make it work. It's not super easy, as I didn't want to rely on the `ioctl()` capture and replay, as it's not great for interactive tests.

It would be great if umockdev had some helper tools for that, something that could mock /dev devices which are just fancy data buffers (and which could mock `-EAGAIN` too).

See https://gitlab.freedesktop.org/hadess/iio-sensor-proxy/-/issues/317

[2021-01-20 17:55] dlech commented on #43
A few years ago, I did some experimenting using libfuse to provide simulated sysfs devices - mainly to simulate returning errors like that. It looked promising but I didn't get very far with it.

[2021-01-24 13:40] martinpitt opened #117 "fingerprint readers don't work with umockdev-record ioctl trees"
@benzea and @3v1n0, the [libfprint](https://gitlab.freedesktop.org/libfprint/libfprint) authors, currently have to employ some [hackish post-processing](https://gitlab.freedesktop.org/libfprint/libfprint/-/blob/cb332c/tests/convert-ioctl.py) ([docs](https://gitlab.freedesktop.org/libfprint/libfprint/-/blob/cb332c/tests/README.md#possible-issues)) of recorded ioctls to make them work. There is also

[2021-01-24 13:50] martinpitt commented on #117
Without having delved into this yet (it's been many years since I wrote this code, and it was mostly experimental), there are two lines of investigation:

 * Check if the "next sibling" iteration can be salvaged to support this kind of "interleaved stateful" ioctls, where the request is identical, but the response is different. My first hunch is that the interleaving of A and B breaks the state ke

[2021-01-24 21:35] 3v1n0 commented on #117
FYI the IRC conversation is liked also here https://www.pastery.net/matzzg/ as the previous link is going to expire...

[2021-01-26 15:01] benzea commented on #117
Yes, that would likely work. In a way it does feel wrong to me though as these devices have a more complex internal state. I would prefer just having things in-order and being able to throw an error immediately when something unexpected happens (rather than trying to recover and potentially causing infinite loops).

[2021-03-01 21:08] z3ntu opened #120 "time64 issue on 32-bit arches"
umockdev fails to compile on 32-bit Alpine Linux (x86 & armv7) with the following error:
[code]

The first one can be fixed relatively simply by replacing `time.tv_sec` with `input_event_sec` and `time.tv_usec` with `input_event_usec` (see e.g. https://github.com/gvalkov/python-evdev/commit/bcafe723e489e00441bbd0c86d252df63c422e2c), but it seems vala has kind of duplicated the time structure into

[2021-03-14 09:35] martinpitt commented on #120
Thanks for the report! Indeed this is a bit tricky to do from Vala now, I reported this as https://gitlab.gnome.org/GNOME/vala/-/issues/1152 . I'll see if I can do that with a local vapi.

[2021-03-15 06:20] martinpitt commented on #120
I backported the upstream vapi fix, and enabled CI on i386/alpine -- [success](https://github.com/martinpitt/umockdev/runs/2110152029?check_suite_focus=true)!

[2021-03-15 06:21] #120 closed

[2021-03-15 08:46] z3ntu commented on #120
Awesome, works great! Thanks a lot!

[2021-03-25 12:27] benzea commented on #82
So, my solution to this is to restructure the `ioctl` replaying to run in the `umockdev` main process and then implement a replayer on top of `pcap` (or `pcapng`) packet USB monitor dumps in vala.

See https://github.com/benzea/umockdev/tree/benzea/pcap-usb-replay and https://gitlab.freedesktop.org/libfprint/libfprint/-/merge_requests/258 for an example.

For me, this works great. It provides a pu

[2021-03-25 13:58] superm1 commented on #82
Cool!  @martinpitt are you open to merging this?
@hughsie this can potentially be really interesting for fwupd fuzzing..

[2021-03-28 09:00] martinpitt commented on #82
@superm1 : Yes, in general -- I expect #118 will still need a few iterations, but I hope that can land relatively soon.

[2021-04-08 00:01] mincrmatt12 opened #121 "Support for spidev SPI_IOC_MESSAGE"
I've been working on an SPI driver for libfprint and I'm trying to add tests for it using umockdev.

Although `umockdev-record` seems to properly output a device node file, trying to record ioctls just gives a blank file with the devnode at the top. I'm fairly sure this _isn't_ #96 because I was testing with my prototype code [here](https://github.com/mincrmatt12/elan-spi-fingerprint/tree/master/p

[2021-04-08 04:47] martinpitt commented on #121
The known ioctl emulations are defined [here](https://github.com/martinpitt/umockdev/blob/master/src/ioctl_tree.c#L832). https://www.kernel.org/doc/html/v5.7/spi/spidev.html does not explain how that actually looks like. I found [this example](https://www.emcraft.com/som/stm32f4/accessing-spi-devices-in-linux) where it is relatively complex, you'll need a `I_NAMED_SIMPLE_STRUCT_IN` I suppose.

How

[2021-04-08 08:16] benzea commented on #121
For the libfprint SPI stuff we currently only need at maximum one write followed by a read (or just a single write/read).

https://gitlab.freedesktop.org/libfprint/libfprint/-/merge_requests/235/diffs#5db95b922b7d4e96dc70034a2eec76d59572610e_0_325

What makes it a bit simpler here is, that libfprint will always use ioctl, rather than mixing read/write/ioctl. At the end, the ioctl is pretty much an

[2021-04-16 06:09] WeierAndreas commented on #121
Hi, I have the same issue as @mincrmatt12. I would also really appreciate to have spi working. Actually to be more detailed, I would be the support of spidev devices. I am using linux spidev interface over the spidev python library, so for now I could do a workaround by creating an simple mock of that libray when testing. But it would be very helful to have the spidev interface supported by umockd

[2021-04-16 12:57] benzea commented on #121
@WeierAndreas, the trouble is that for correct emulation, you need to both capture read/write and ioctl at the same time. Without #118, you cannot do that properly, but with #118 in, we should be able to take the next step and actually emulate both ioctl's and read/write from the same context.

For libfprint, I don't need that, but in your case it may be needed for proper emulation. But, #118 woul

[2021-05-03 10:31] kloczek opened #122 "0.15.4: build fails with latest vala"
vala 0.52.3
[code]

[2021-05-03 10:34] kloczek commented on #122
OK. I see that issue is fixed in git.
Any plans to make new release? :)

[2021-05-03 15:56] martinpitt commented on #122
@kloczek : Thanks for the reminder! None of the distros that I have in my CI (Ubuntu, Debian, CentOS, Fedora, Alpine, NixOS) already has a vala > 0.50, so I didn't notice. Here we go! https://github.com/martinpitt/umockdev/releases/tag/0.15.5

[2021-05-03 15:56] #122 closed

[2021-05-03 16:09] kloczek commented on #122
I've just sucessfully build my rpm package with updated umockdev😀

Thank you very much for your time.

[2021-05-10 11:19] georgiablanco commented on #96
Hello. I am having the same problem. Has this issue been resolved? Or has anyone got a work around?

[2021-05-10 11:32] martinpitt commented on #96
@georgiablanco : It has not been resolved, no. This will require some bigger reworking which didn't land yet.

(I tried to reply to your email, and your hotmail server rejected it :shrug: )

[2021-05-10 12:36] ethanfowler commented on #96
Just to check my understanding of the situation, correct me if I'm wrong:

Because `evtest` registers its own SIGINT handler, `umockdev-record` doesn't close cleanly and write the recorded data to disk?

Does this mean that https://github.com/martinpitt/umockdev#record-and-replay-input-devices does not currently work?

Is there an `evtest` alternative or workaround at current?

[2021-05-26 17:27] benzea commented on #121
So, I created a branch, which hopefully makes it just work by using `--ioctl` for both recording and replay.

Note that this does *not* create an `ioctl` "tree" file, but a special SPI file that just contains read/write transfer chunks.

I don't have an SPI device though, so this is entirely untested right now :-(

If anyone could test it, that would be really appreciated. I am sure there are a lo

[2021-06-01 04:56] #96 closed

[2021-06-07 08:56] benzea opened #128 "Add public API to set custom ioctl replayer"
With the work on pcap (and SPI replay), we now have a flexible way that allows implementation of ioctl replay (and `read/write`) by the umockdev user.

All we need to do is adding a new function that allows the API user to attach an `IoctlBase` subclass to a device. At that point, they can subclass `IoctlBase` or connect to the `handle-{ioctl,read,write}` signals in order to create a fully custom

[2021-06-15 06:26] #82 closed

[2021-06-17 08:52] chenzf opened #130 "where is the autogen.sh"
hi, i pull the latesd version, and there is no autogen.sh file?

[2021-06-17 20:20] martinpitt commented on #130
That's intended -- umockdev moved to the [meson build system](https://mesonbuild.com/).

[2021-06-17 20:20] #130 closed

[2021-06-24 15:52] #121 closed

[2021-06-24 16:00] benzea commented on #121
If anyone needs ioctl's other than `SPI_IOC_MESSAGE` then you'll need to add a (dummy) implementation for them. It should be really simple to do, I just didn't have any use for it as there is no reason for libfprint to ever call any of them.

So, merge requests are welcome!

[2021-06-24 18:29] patrickyeon opened #133 "Update build, test, run instructions for new build system"
As you'd expect, having moved away from autotools means `./configure && make` etc doesn't work. I'm not familiar with either of meson, ninja, nor valac, so please forgive my bumbling through. What has worked for me (Ubuntu 20.04 focal) is
[code]
There might be other requirements that aren't commonly on peoples' machines but I've already luckily installed. And I wouldn't be surprised that there's a

[2021-06-25 05:45] martinpitt commented on #133
Oops, thanks for pointing out! I updated the README accordingly.

[2021-06-25 05:47] #133 closed

[2021-06-25 05:47] martinpitt commented on #133
See https://github.com/martinpitt/umockdev#build-test-run

[2021-06-25 06:48] benzea commented on #102
The I2C ioctl's are not supported currently.

You can have a look at #125 which implements support for SPI. Something very similar should be possible to do for I2C. You will also be able to work around the lack of support in umockdev by using the public API that will likely be part of 0.16, see #132.

[2021-06-25 06:53] benzea commented on #99
You could look at #125, or, if you are not dealing with a lot of ioctl's also possibly emulating it yourself once there is public API to do so in 0.16, see #132.

[2021-06-25 06:57] benzea commented on #51
This will be very easy to implement by the umockdev API user once #132 is merged.

[2021-06-25 07:01] benzea commented on #43
The SPI emulation from #125 could be a starting point now. In this case, my guess that custom code by using #132 might be better though. That can also mock -EAGAIN, it cannot mock poll state at this point though.

[2021-06-25 07:03] martinpitt commented on #117
Done in #124, thanks @benzea !

[2021-06-25 07:03] #117 closed

[2021-06-25 07:04] martinpitt commented on #100
This got fixed a while ago in commit 1b58d24fb78e8297f2b0e96abb99fcbee7f37784 , and thus is a duplicate of #115.

[2021-06-25 07:04] #100 closed

[2021-06-30 04:03] #128 closed

[2021-07-12 15:23] benzea commented on #82
For reference: #137 finalises the support and makes control transfer replay work correctly.

[2021-08-25 09:03] martinpitt opened #138 "unused `UMockdev.IoctlBase.unregister_{path,all}"
Building gives these two warnings:
[code]

@benzea , are these supposed to be used in some destructors, or are they just leftovers and can be dropped?

(I'm currently cleaning up the plethora of warnings, and these two I'm not sure about)

[2021-08-25 11:16] benzea commented on #138
Neither :-/

It is a side effect of umockdev-ioctl.vala being included in the build of multiple binaries.

[2021-08-25 11:17] benzea commented on #138
IIRC, the reason was that I would have needed to make some more API public otherwise. Though, at this point, it is likely possible to split the file into multiple parts in order to avoid doing so.

[2021-08-25 13:54] hadess opened #140 "gtk-doc failure"
Trying to build current git using gtk-doc in rawhide, or from git:

First it would fail to detect any types:
[code]

Followed by:
[code]

[2021-08-27 18:16] lucaswxp opened #142 "How to build on pi?"
Hey guys.

I'm running `maven` trying to build it, but it complains I have no `libpcap` installed:

[code]

But `apt-cache show libpcap-dev` shows I have it:

[code]

I even tried to build libpcap from source (`http://www.tcpdump.org/release/libpcap-1.5.3.tar.gz`), but didn't work either.

Any help on how can I instruct `umockdev` to find `libpcap`?

[2021-08-28 06:40] martinpitt commented on #142
So that means that `pkg-config --modversion libpcap` fails even though the package is installed. This is a local configuration problem. Can you try without `$PKG_CONFIG_PATH`?

[2021-08-28 06:40] #142 closed

[2021-08-28 15:38] lucaswxp commented on #142
I tried:

[code]

Same thing.

Any ideas what may cause this? I managed build libpcap from source, is there any way to point to it? Even if I have to modify the `meson.build` file. Any help is appreciated.

[2021-08-29 05:52] martinpitt commented on #142
As I said, you need to install things and set up `$PKG_CONFIG_PATH` to a place where `pkg-config --modversion libpcap` can find them (this is a much faster and more direct test than trying to build umockdev). You really don't have to build libpcap from source unless you want to modify something.

[2021-09-10 19:08] dlech opened #144 "udev_enumerate_scan_devices() fails with ENOENT because of missing "bus" and "class" folders"
When using umockdev without loading any devices, `udev_enumerate_scan_devices()` will return `-ENOENT` since the "bus" and "class" directories have not been created yet. The [current test for this](https://github.com/martinpitt/umockdev/blob/6558285f957781dec03ddf0bd506873e68690e10/tests/test-umockdev.c#L128-L133) doesn't fail because [GUdev ignores the error from this function](https://gitlab.gno

[2021-09-11 08:58] #144 closed

[2021-09-12 03:40] floppym opened #147 "Build failure on sparc with -Wcast-align"
This was reported by a user on Gentoo Linux (sparc).

https://bugs.gentoo.org/812461

The user has `-Wcast-align` in CFLAGS, and this gets converted to an error by the `-Werror` parameter configured in the project arguments.

It might be worth addressing the alignment issue.
[code]

[2021-09-12 08:31] martinpitt commented on #147
On Debian sparc64, [tests fail with SIGBUS](https://buildd.debian.org/status/fetch.php?pkg=umockdev&arch=sparc64&ver=0.16.2-1&stamp=1631117362&raw=0). This may or may not be related.

[2021-09-12 08:51] martinpitt commented on #138
I proposed a fix in #148

[2021-09-12 09:02] martinpitt commented on #147
FTR, the Debian sparc failure is unrelated. Getting this code wrong fails tests/test-umockdev.c `t_testbed_add_devicev()`, not test-umockdev-vala.

This is annoying to "fix": the code can't just use `memcpy()` into an actually declared struct, as "real" code would do, as it really needs to modify the existing `msg` from the wrapped `netlink_recvmsg()`. I'll try to come up with something using memc

[2021-09-12 18:55] #147 closed

[2021-11-29 03:49] ethaniel opened #153 "Is it possible to hide the KVM/QEMU environment from a program which detects which platform it's running on?"
I have a program which gathers system information (CPU, Motherboard, Hard drive models, etc) via udevadm to generate license information. Unfortunately, it's built so it won't allow itself to be run in a KVM/QEMU environment (which my whole system is based on).

Is there a way to make it think that it's running on a bare metal system?

[2021-11-29 09:45] benzea commented on #153
I think that use-case is out of scope for umockdev. I am sure it is technically possible to manipulate the environment to the point that you can fool such a tool. But, the purpose of umockdev is to just provide enough in order to enable CI testing for software.

It is impossible to answer the question without knowing what that tool does.

[2021-11-29 17:31] ethaniel commented on #153
The software is querying:
1. udevadm info --query=all --name=/dev/sda | grep ID_SERIAL=
2. /proc/cpuinfo

I was thinking if there is a way to override the request to these 2 items and replace the output that the software gets?

[2021-11-29 18:09] ethaniel commented on #153
Solved it myself. Replaced /bin/udevadm with a bash script which outputs data that I need.
And also did `sudo mount --bind /cpuinfo.txt /proc/cpuinfo` to fake the /proc/cpuinfo data

[2021-11-30 06:05] martinpitt commented on #153
@ethaniel : Thanks for the clarification -- these parts are indeed what umockdev does. See the documented examples [how to fake files in /proc](https://github.com/martinpitt/umockdev/#command-line-mock-file-in-proc), you can dump your desired /dev/sda  with `umockdev-record` and load it in the test environment.

However, of course you need to run your program under `umockdev-run` for that. If you

[2021-11-30 06:05] #153 closed

[2021-11-30 14:19] ethaniel opened #154 "fails to build on ulong.parse() API mismatch"
Hi! I had 2 issues while installing on Debian:
1. `meson setup build/` complained about missing libpcap, even though I did `apt install libpcap-dev` (solved with building libpcap 1.10 from source).
2. after running `sudo meson install`, I'm getting:
[code]

[2021-12-02 04:31] ethaniel commented on #154
Solved for now by doing `apt-get install umockdev` and not compiling from source.

[2021-12-02 07:36] ethaniel opened #155 "missing /sys/dev/block entries for block device"
Hello!

I'm doing: `umockdev-record /dev/nvme0n1  > umockdev.txt` on one host, and then transfer `umockdev.txt` to another host (which doesn't have /dev/nvme0).

Then I run `umockdev-run --device umockdev.txt -- udevadm info --query=all --name=/dev/nvme0n1` and get the `device node not found` error.

Strace shows that udevadm is trying to find the `/tmp/umockdev.S1ZSD1/sys/dev/block/259:0` path wh

[2021-12-02 08:55] ethaniel commented on #155
The dirty hack that solved this for me was simply recreating the symlink as it was on the old machine. Since umockdev does all the heavy lifting, it was enough:

[code]

[2021-12-07 07:09] martinpitt commented on #154
CI regularly tests on Debian testing (currently vala 0.54), and I just tested this on Debian 11 stable (vala 0.48). This also does not make much sense -- [ulong.parse()](https://valadoc.org/glib-2.0/ulong.parse.html) is documented to have two arguments; the second one is optional for sure, but it absolutely needs to accept a second one. Did you perhaps install some custom valac version or run on a

[2021-12-12 07:07] martinpitt commented on #99
@joaofl Do the two comments above help? Is this still relevant with current versions?

[2021-12-12 07:48] martinpitt commented on #155
What's your umockdev version? It looks like one from before 0.15.2, as none of your recorded attributes are `\n` terminated.

I can reproduce this on the current version, but for a different reason. There is some fallout from commit 1b58d24fb78e8297f2b0e96abb99fcbee7f37784. The recorded attribute now looks like this:

    A: dev=7:23\n

and it creates a broken symlink:

    '7:23'$'\n' -> ../../de

[2021-12-12 10:02] martinpitt commented on #155
Fixed in PR #158. It's still a little unclear to me how exactly it failed for you (as you seem to have an old umockdev version), but I tested it end to end with an NVME block device now.

[2021-12-12 10:15] #155 closed

[2021-12-13 10:03] joaofl commented on #99
Thanks @benzea for the tip, and @martinpitt for checking this out.
Back when I was working with that, I could not emulate the device successful, with umockdev, so I implemented a tool to parse and log the data input, such that I could play it back later on. So honestly speaking, I did not check if @benzea tips could address that problem.

[2021-12-13 10:25] martinpitt commented on #99
Thanks @joaofl . I close this for now, I'm happy to reopen if/when you ever get back to this, just yell here please.

[2021-12-13 10:25] #99 closed

[2021-12-21 08:43] martinpitt opened #159 "Build started to fail with NixOS"
At some time in the [last four days](https://github.com/martinpitt/umockdev/actions), umockdef failed to build and test on NixOS. [Most recent run](https://github.com/martinpitt/umockdev/actions/runs/1600420074):
[code]

These reproduce perfectly well in local podman with `tests/run-nix`.

@flokli @jtojnar  I'll need some help with debugging this.

[2021-12-21 08:45] martinpitt commented on #159
nixos wants a super-privileged container, running the "attaching" bit as user does not work.
[code]

So I attached to the running container, then ran that `cntr attach` command, and `cd /tmp/nix-build-umockdev-0.17.0.drv-0/source`. However, this is still not the "right" environment -- neither `meson` nor `ninja` commands are available. @flokli, @jtojnar, what else do I need to do to get in the rea

[2021-12-21 08:47] martinpitt commented on #159
I. e. I can run meson from that private path as in the build log, but it doesn't find anything else:
[code]

I. e. there must be some magic to define `$PATH` to all the installed nix packages?

[2021-12-21 11:34] jtojnar commented on #159
I am surprised by `/bin/sh: /nix/store/jsp3h3wpzc842j0rz61m5ly71ak6qgdn-glibc-2.32-54/lib/libc.so.6: version `GLIBC_2.33' not found (required by /tmp/nix-build-umockdev-0.17.0.drv-0/source/build/libumockdev-preload.so.0)`, will try to look.

I cannot reproduce it locally so it might be something with containers or the glibc weirdness.

You can enter the environment by replacing `nix-build` with `n

[2021-12-21 11:42] jtojnar commented on #159
`https://github.com/NixOS/nixpkgs/archive/master.tar.gz` contains  `/nix/store/563528481rvhc5kxwipjmg6rqrl95mdx-glibc-2.33-56` and it is fetched so that should not be an issue.

Sounds like the old glibc version comes from `/bin/sh`, which should not be accessible in sandbox.

Actually, looks like there is no sed: `/bin/sh: line 4: sed: command not found` so sandboxing does not get enabled?

[2021-12-21 14:17] martinpitt commented on #159
@jtojnar : Ugh, yes, well spotted! I feel a bit embarrassed now.

Not having sed nor awk is a bit awkward, but I replaced it with shell string manipulation now, and also added the missing `set -e`.

Thanks, and have some nice EOY holidays!

[2021-12-21 14:19] #159 closed

[2022-01-06 12:57] mrc0mmand opened #160 "Broken links in /sys/ even though the links in $UMOCKDEV_DIR are correct"
Hello!

In my recent endeavours in https://github.com/systemd/systemd/issues/21725 I've been trying to "collect" a couple of NICs to further expand on the idea, but stumbled across a weird bug(?).

I have a machine with a OneConnect 10Gb NIC:
[code]

`umockdev-record` successfully creates a text dump of the topology (tested with both `umockdev-record /sys/class/net/eno1` and `umockdev-record /sys/

[2022-01-09 13:50] martinpitt commented on #160
I can reproduce this on F35. It's not specific to your eno1.txt, it happens just as well with e.g. devices/input/usbkbd.umockdev from upstream git:
[code]

However, this is somehow specific to `ls`. libudev or even Python are happy:
[code]

This smells like a new glibc introducing yet another ?stat?() variant which needs to be wrapped. I'll strace it and investigate. Thanks for your report!

[2022-01-09 13:56] martinpitt commented on #160
Here is the culprit:
[code]

[2022-01-09 14:53] martinpitt opened #161 "Wrap fstatat()"
Similar to issue #160, umockdev does not currently wrap the `fstatat()` call.

[2022-01-09 14:57] martinpitt commented on #160
I have a first fix. It still [fails on Alpine with musl libc](https://github.com/martinpitt/umockdev/actions/runs/1674159679) as that doesn't have a statx() (and thus I can't land it yet), but it works fine with glibc now.

[2022-01-09 15:10] #160 closed

[2022-01-09 21:20] mrc0mmand commented on #160
Thanks a lot for the fix!

[2022-01-10 07:37] #161 closed

[2022-01-10 08:30] martinpitt commented on #160
@mrc0mmand : I released this in 0.17.2, in updates-testing on [Fedora 34](https://bodhi.fedoraproject.org/updates/FEDORA-2022-ce2b308f70) and [Fedora 35](https://bodhi.fedoraproject.org/updates/FEDORA-2022-70a2f0d2e0) now.

[2022-01-14 11:08] hadess opened #164 "Properties not visible to libudev since systemd database changes"
It took me a long while to figure out, but sd-device, which is the backend for libudev in systemd, barely reads `uevent` files ever anymore (if at all). The devices were marked as "sealed" every time `device_read_uevent_file()` was called. I think this has to do with the changes made to systemd to counteract the ABI change in uevents in the kernel, with more data being cached.

The use case is htt

[2022-01-17 12:44] martinpitt commented on #164
Thanks @hadess! Ugh, that's a major bug.. I'll look at it ASAP. I [created a reproducer test](https://github.com/martinpitt/umockdev/commit/a11f5a53aa497e4cda4e703cea9caf9b706b550d) for now, and as expected [it fails](https://github.com/martinpitt/umockdev/actions/runs/1707982886) everywhere except Alpine (with musl).

I'd like to keep that test as is: It's specifically meant to test the `self.tes

[2022-01-17 12:58] hadess commented on #164
That's fine. It was easier for me to modify an existing test than to create a new one. Took me more than a day to "find" the bug.

[2022-01-17 13:59] martinpitt commented on #164
I checked current systemd's code path: `udev_device_get_property_value()` → `sd_device_get_property_value()`, and from then on pretty much everything happens inside [sd-device.c](https://github.com/systemd/systemd/blob/main/src/libsystemd/sd-device/sd-device.c): `sd_device_get_property_value()` → `device_properties_prepare()` → `device_read_uevent_file()`. So that bit is still as expected, but the

[2022-01-17 14:24] hadess commented on #164
Patches which could be useful, for setting `SYSTEMD_LOG_LEVEL=debug`. See also https://github.com/systemd/systemd/pull/21761

libgudev:
[code]

systemd:
[code]

[2022-01-17 14:57] hadess commented on #164
This is when the device gets sealed:
[code]
which means it's sealed as soon as it's parsed the contents of the uevent sent over the socket, rather than after it's read the uevent file once.

[2022-01-17 15:01] hadess commented on #164
You need both to get the logging working.

[2022-01-17 15:44] hadess commented on #164
OK, so you'll need to call udev_set_log_priority() from somewhere too. Also, would be best to avoid replying inside my comments, it just looks weird...

[2022-01-17 15:51] martinpitt commented on #164
Heh, sorry, I wanted to avoid generating more github notifications, these were just meant as notes for myself. (Also: I'm stuck in meetings all afternoon, will dive into this in earnest tomorrow morning)

[2022-01-17 16:28] martinpitt commented on #164
Note for tomorrow: To fix this we most probably need to include *all* the properties in [uvent_sender_send()](https://github.com/martinpitt/umockdev/blob/master/src/uevent_sender.c#L257). Either that function needs to read the `/uevent` file, or we need to pass them from the caller. I think the former is easier and conceptually "more correct", as the `uevent` file is *the* source of truth for the

[2022-01-17 20:43] hadess commented on #164
That looks like my ugly diff:
[code]

But I wonder if it's there's a better way. The uevent file is supposed to only contain kernel stuff, but I guess this is a mock, so making libudev happy is pretty much the only thing we're interested in.

[2022-01-18 05:56] martinpitt commented on #164
Right, and current umockdev is exactly the wrong way around -- the uevent files *only* contain the userland udevd properties, and the kernel stuff like `DEVNAME=` or `DEVTYPE=` is added on the fly in `uevent_sender_send()`. What was I thinking back then.. Let's clean this up.

umockdev could store the userland properties in a `/.udev.properties` file, and then concatenate both when sending netlink

[2022-01-18 08:22] yuwata commented on #164
Hi, the following may be redundant info, but
- If udevd sends information about a device through netlink, then the message contains all properties. See `device_monitor_send_device()` in device-monitor.c, and `device_get_properties_nulstr()` in device-private.c.
- A receiver of the netlink socket parses the properties and create a `sd_device` object. Then the generated `sd_device` object has the `s

[2022-01-18 09:07] hadess commented on #164
That's what the `/run/udev/data/` folder is used for. I would make a note somewhere (in the README?) that the uevent files contains all the properties when it should only contain the kernel ones, and insist that umockdev mocks udev, not sysfs.

[2022-01-18 09:44] martinpitt commented on #164
I first had to do some yak shaving with some false-positive gcc `-fanalyzer` errors in the latest Fedora version, and then another gcc bug around diagnostic pragmas. With that out of the way, I sent #165 with a quick fix for that, which should unblock you.

After that I'll do the code cleanups as discussed above, they are not that urgent any more. I didn't make up my mind about mocking /run/udev/d

[2022-01-18 09:53] #164 closed

[2022-01-18 09:57] martinpitt commented on #164
Released 0.17.4 with this, will shepherd to Fedora.

[2022-01-20 16:45] wmww opened #167 "Property buffer overflow starting at 0.17.4"
Commit b781cf65d49dc18d6319fb783c5617a71134bbbd broke Mir's umockdev tests (https://github.com/MirServer/mir/issues/2285). We get this error:
[code]
In GDB, I tracked down the problem to calling `append_property()` with a `name` that is too long for the `size`. On my machine, the name is (note that snaps I have installed seem to be included, no idea why):
[code]
The length of that is 1281, just ab

[2022-01-21 06:37] XieJiSS opened #169 "t_detects_not_running_in_testbed fails in some build environments"
`pkgver=0.17.5`

I notice that the failing test case is named `umockdev:fails-valgrind / umockdev-vala`. Does this indicate that the test case requires valgrind to success? Currently, valgrind is not usable on RISC-V architecture.

Logs attached:

[code]

Related full log:

[code]

[2022-01-21 06:41] XieJiSS commented on #169
I can confirm that this error does not occur on x86_64 platforms.

[2022-01-21 09:21] martinpitt commented on #169
No, to the contrary. It's a test which is known to *not* work under valgrind, so my CI calls the valgrind tests with `--no-suite fails-valgrind` to skip these.

Indeed `t_detects_not_running_in_testbed` is a bit problematic, it fails in emulators. That's why in commit 0cffcea655 I already disabled it for the RPM architectures which are emulated (s390x and arm).

[Debian's](https://buildd.debian.or

[2022-01-21 09:29] XieJiSS commented on #169
@martinpitt

Hi, the Arch Linux build system specifies `arch` environment variable while building. For riscv64, its value is `riscv64`.

However, I think I'd prefer the second solution, _i.e._ to skip this test on RISC-V platforms, because I've actually attempted to build umockdev on real `riscv64gc` boards (SiFive Unmatched board, with 4*CPU, but it's performance is not so good), and this problem

[2022-01-21 09:34] martinpitt commented on #167
Ugh, thanks for the report! The /umockdev-testbed/uevent/action_overflow check is supposed to catch this, but doesn't. I'll investigate.

[2022-01-21 09:47] martinpitt commented on #167
Ah wait, it does not actually segfault -- it's doing exactly as desired, aborting with that message *before* it segfaults *phew*. So indeed I only need to bump the buffer size.

[2022-01-21 11:01] martinpitt commented on #169
It is annoyingly difficult to determine the current CPU architecture in Vala (something like `#ifdef __riscv` is not passed through).

I tried to run this test case with really little CPU:
[code]
and even tried 0.1%, but it always passes.

So I'll just mark it as brittle test, so that it gets skipped in package builds.

[2022-01-21 11:03] martinpitt commented on #154
Any further information about this? right now this is not actionable, I'm afraid.

[2022-01-21 11:16] XieJiSS commented on #169
Thanks for your quick response!

[2022-01-21 11:21] XieJiSS commented on #169
@martinpitt By the way, here at PLCT Lab, we are capable for providing SSH access to SiFive Unmatched boards for debug & CI use. If you are willing to, I can apply for a test account, which should be fulfilled in 5 work days.

[2022-01-21 12:11] #167 closed

[2022-01-21 12:14] martinpitt commented on #169
@XieJiSS : That would be nice actually, to get to the bottom of this! I don't need root privs, but I do need umockdev's build dependencies installed (in Debian/Ubuntu/Fedora etc. one would usually use schroot/mock or a podman container). My [public SSH key](https://www.piware.de/sshkey).

Thanks!

[2022-01-21 12:20] martinpitt commented on #169
Released as [0.17.6](https://github.com/martinpitt/umockdev/releases/tag/0.17.6)

[2022-01-21 12:24] martinpitt commented on #167
Released as [0.17.6](https://github.com/martinpitt/umockdev/releases/tag/0.17.6). I uploaded it to Debian unstable, so it should reach Ubuntu jammy over the weekend.

[2022-01-21 14:07] wmww commented on #167
Thanks for the fast response!

[2022-01-23 15:15] XieJiSS commented on #169
@martinpitt Hi, I've send you an email with ssh configs needed to access the RISC-V board.

[2022-01-27 07:30] martinpitt commented on #169
Reopening -- while this does not block package builds any more, I'd still like to investigate what makes the test actually fail.

So far I built umockdev on @XieJiSS 's riscv64 machine, and the test works just fine. Both in default parallel as well as in `--num-processes 1` mode. I'll try a bit harder to run it in a loop, with some background activity and/or lowering CPU quota, etc.

[2022-01-30 09:15] martinpitt commented on #169
I ran the test 1000 times in a row:
[code]

I then ran the same loop 5 times in parallel as well. I stared at the code, and I really can't see a race condition there -- the two processes are properly synchronized with writing the byte through the pipe. It's just simply delivering the wrong result.

I am reasonably sure that this is *not* a race condition, but a failure that happens under some part

[2022-01-30 09:37] martinpitt commented on #169
The failure is gone from [Koji's s390x build](https://copr.fedorainfracloud.org/coprs/packit/martinpitt-umockdev-172/build/3260094/), presumably because that architecture gets built on real hardware now. But armhfp is still emulated, and it still [fais there](https://download.copr.fedorainfracloud.org/results/packit/martinpitt-umockdev-172/fedora-rawhide-armhfp/03260094-umockdev/builder-live.log.g

[2022-01-30 11:59] martinpitt commented on #169
@XieJiSS : How and where *exactly* are you building umockdev to trigger the failure? So far there is overwhelming evidence that this *only* happens in a QEMU emulated build. So far I've been unable to reproduce this on your board with the standard `meson b && meson test -C b`.

[2022-01-30 13:32] martinpitt commented on #169
I added a [30 times/seconds retry loop](https://github.com/martinpitt/umockdev/pull/172/commits/683845ae914663c82968d2ecc52411e8bd702d8d), and it
[does not help](https://download.copr.fedorainfracloud.org/results/packit/martinpitt-umockdev-172/fedora-rawhide-armhfp/03260212-umockdev/builder-live.log.gz) -- the execve() does not fail, but it never actually gets to the ` --test-outside-testbed` evau

[2022-01-30 14:13] #169 closed

[2022-02-22 09:32] benzea opened #173 "Adding device fills some attributes after sending the uevent"
There is a problem affecting hotplug in libusb. It reads the device descriptors immediately after it receives the uevent. However, the descriptor is a binary attribute.

I was setting it by using `umockdev_testbed_add_from_string`, but the uevent is already send by `umockdev_testbed_add_devicev`.

My thinking to fix this is to add `umockdev_testbed_add_devicev2`, etc. which do *not* emit the ueven

[2022-02-27 11:39] martinpitt commented on #173
May I ask, what's the use case here? I find it rather correct that umockdev_testbed_add_devicev() immediately sends the uevent. If you add/change a second event, it will send another uevent, yes -- but that's *exactly* what happens on a real system as well. These two devices are independent, after all.

If a test relies on creating a device without an uevent, it makes unrealistic assumptions IMHO

[2022-02-27 11:45] martinpitt commented on #173
Oh wait, I think I completely misunderstood your description. This is entirely inside add_dev_from_string() which either needs to add the binary and link attributes before, or indeed use an internal add_devicev() which does not send the uevent. But that won't touch the external API at all.

[2022-02-27 13:36] martinpitt commented on #173
@benzea: Fixed in PR #174

[2022-02-28 08:55] #173 closed

[2022-03-29 19:55] hadess opened #175 "sysfs "trailing newline" behaviour can't be easily mocked"
If I were to write a sysfs attribute, in most cases, `cat`ing it back should result in the same data I wrote, plus a newline being printed. Unfortunately, there doesn't seem to be a way to mock that behaviour in umockdev.

See https://gitlab.freedesktop.org/hadess/iio-sensor-proxy/-/issues/347 for a bug I couldn't test in the test suite.
[code]

[2022-03-30 09:34] benzea commented on #175
Heh, I was actually thinking of abusing that in the libfprint test suite to see whether libfprint wrote the file. But, I guess I could also look a the ctime.

[2022-03-31 08:46] martinpitt commented on #175
At first sight that sounds like issue #115 which was fixed more than two years ago in commit 1b58d24fb78e8297f2b0e96abb99fcbee7f37784. But that was about umockdev-record, and it seems you try this directly with "echo", outside of any umockdev stuff.

Supposedly you wanted to do `echo -e` here and *not* actually append a newline to the file? And you expect this to still implicitly get a newline whe

[2022-03-31 08:59] hadess commented on #175
Right. The kernel doesn't make a difference here.

I don't expect binary attributes to be adding data, obviously, but text, and single value ones almost always do though:
[code]

Obviously umockdev doesn't know which attributes behave this way, but we do because we have the sources for it. It would be useful to be able to do that for specific attributes, to mock the kernel more closely and catch m

[2022-04-07 11:02] marxin opened #176 "Help with debugging of -D_FORTIFY_SOURCE=3"
I'm in the middle of the debugging session where I'm trying to use `-D_FORTIFY_SOURCE=3` with the upcoming GCC compiler.
I noticed that using the flags for `systemd` and then using `/lib64/libudev.so.xyz` library triggers errors in your project test-suite:

[code]

As seen, we hit the following assert `uevent_sender.c:248: uevent_sender_send: Assertion subsystem != NULL' failed.`.

So the question

[2022-04-07 15:58] benzea commented on #176
In this case, `umockdev` primarily redirects the path when opening files to point to a fake temporary directory instead.

So we are looking at `udev_device_get_subsystem` returning NULL suddenly (after `udev_device_new_from_syspath`). My thinking would be, that we are more likely looking at another change here (e.g. systemd/systemd@13659527efd4cf00677ccacba5994bb77dc866b0), and you are simply comp

[2022-04-07 20:42] marxin commented on #176
I see. How exactly is utilized the `libdev` library? I noticed it's not a shared library dependency of test binary `test-umockdev-record`, right? Maybe the returned `udev_device` object is somehow changed, can I dump it?

Note I'm using a stable release package that is fixed. The only change is that I build the package with `-D_FORTIFY_SOURCE=3` instead of `-D_FORTIFY_SOURCE=2`. Plus I include the

[2022-04-07 21:15] benzea commented on #176
The assert you are seeing is coming from umockdev itself. i.e. the test code crashes while creating a umockdev testbed.

I believe this is the crashing call:
 * https://github.com/martinpitt/umockdev/blob/master/tests/test-umockdev-record.vala#L97
which goes further to:
 * https://github.com/martinpitt/umockdev/blob/master/src/umockdev.vala#L548
 * https://github.com/martinpitt/umockdev/blob/maste

[2022-04-07 21:25] marxin commented on #176
Oh, that would be the root cause as `readlink` is one of the fortified functions and it's very likely that `libudev.so` calls the foritifed version: `readlink_chk`:

[code]

I see the following:
[code]

Does it explain our problem?

Anyway, thanks for help!

Please take a look at explanation:
https://developers.redhat.com/blog/2021/04/16/broadening-compiler-checks-for-buffer-overflows-in-_fortify_

[2022-04-07 21:31] marxin commented on #176
Nice! I can confirm the following patch fixes that:

[code]

I'm going to do a proper fix tomorrow.

[2022-04-10 06:38] martinpitt commented on #176
Thanks @marxin ! Indeed umockdev doesn't currently test with fortify at all. I am [adding a test for `_FORTIFY_SOURCE=2`](https://github.com/martinpitt/umockdev/commit/c65680c556c168d752fc06a6ffe41e573fc27db6), and that [succeeds](https://github.com/martinpitt/umockdev/actions/runs/2143068502).

Unfortunately I can't yet enable `=3` yet everywhere:
[code]
That is with gcc 11.2 on Fedora 35. It doe

[2022-04-10 06:39] #176 closed

[2022-04-10 07:39] marxin commented on #176
As mentioned, you will see the error with GCC 12 if you would use `systemd` (`libudev`) package compiled with `_FORTIFY_SOURCE=3`.

[2022-04-10 17:25] packit-as-a-service[bot] opened #178 "[packit] Fedora Bodhi update failed to be created"
Bodhi update failed to be created for 'umockdev-0.17.9-1.fc37':
[code]

*Get in [touch with us](https://packit.dev/#contact) if you need some help.*

[2022-04-11 04:14] martinpitt commented on #178
@TomasTomecek, @lachmanfrantisek FYI -- I take it this is known, but just in case you need the precise times for some logs etc.

[2022-04-20 07:45] TomasTomecek commented on #178
Thanks for letting us know @martinpitt

This is a known issue and @majamassarini is working on it https://github.com/packit/packit-service/issues/1413

[2022-04-29 07:18] siddharthshankarpaul opened #180 "Need help on mocking physical usb device"
Firstly thanks for the wonderful tool.

**Requirement**:
I want to use umockdev for mocking USB device and want inputs on how to do that.
I don't have the physical device (it is client owned lab device), but I have the communication requests and responses which the device sends and expect.
Below is the illustration
![image](https://user-images.githubusercontent.com/5671409/165900116-a700850e-9988-

[2022-04-29 08:45] benzea commented on #180
Well, two general approaches:
 1. You create a full model of the device in software
 2. You do a single recording and assume that your driver always emits the same sequence of commands

Seems like you are going for option 1. Option 2 is obviously much simpler, but requires re-generating the recording when something changes (e.g. libfprint uses this, but doing a recording of a fingerprint device is

[2022-04-29 08:47] benzea commented on #180
Well, I am saying "any other programming language". I haven't actually tried it, I hope it works, but there might be weird things happening when accessing the binary buffers within the `IoctlData` structure, I suppose.

[2022-05-04 03:58] siddharthshankarpaul commented on #180
Thanks for h

Thanks for the inputs. I am going through the tests and will get back if needed.

[2022-05-10 09:27] martinpitt commented on #178
I updated the priv of packit to "commit". This is already more than it ought to have (contributor should be sufficient?), but let's try that.

[2022-05-10 19:30] mattst88 opened #182 "t_run_record_null test fails under Gentoo's sandbox"
[code]

Bisected to b8ccdf8631b24700049b16b5ffd16e7e8cd31f49 which adds the test.

I believe sandbox is preventing access to something like `/tmp/umockdev.HBCSL1/dev/null`? I haven't been able to identify precisely what access is causing the failure.

[2022-05-11 05:29] martinpitt commented on #182
Thanks for the report! I don't have Gentoo in [CI](https://github.com/martinpitt/umockdev/blob/master/.github/workflows/tests.yml), but would be happy to add it. Do you have some steps how to do a Gentoo build in a container? https://hub.docker.com/search?q=gentoo is a bit non-obvious (and there are zero official or trusted publisher images).

[2022-05-11 05:38] martinpitt commented on #182
Can you try to apply commit 1541a3592c953 ? That should also help with investigating this failure.

[2022-05-11 13:36] mattst88 commented on #182
Thanks. With that commit applied I see basically the same thing:

[code]

I'll ask around about Docker images and get back to you.

[2022-05-11 17:50] mattst88 commented on #182
Docker files are available here: https://gitweb.gentoo.org/proj/docker-images.git

They are the ones used to produce the Docker images here: https://hub.docker.com/u/gentoo/

[2022-05-12 09:36] martinpitt commented on #182
Right, I found these already, I just didn't know what "stage3" or "portage" or "nomultilib" etc. are. `podman run -it --rm docker.io/gentoo/stage3` looks reasonable, but what do I do now? I.e. how do I install build dependencies, which ebuild file do I use (and from where), and which steps I run to get the ebuild? Sorry, I have zero knowledge about Gentoo (Debian/Ubuntu/Fedora guy here..)

I found

[2022-05-16 20:52] mattst88 commented on #182
Sorry for the delayed response.

Yes, there are higher level tools like `emerge` that handle dependencies, etc.

I don't have a lot of experience with Docker but I'd suggest something like

[code]

which will install all necessary dependencies for the latest packaged version of umockdev. From there, you can do a normal build of umockdev and run tests from the git repo.

[2022-05-17 07:29] martinpitt commented on #182
Hmm, seems this needs some initialization?

[code]

I found https://wiki.gentoo.org/wiki/Portage_Multi_Stage_Dockerfile which gives some necessary initialization for /etc/portage/make.profile/make.defaults . But then
[code]

[2022-05-17 17:08] mattst88 commented on #182
https://github.com/gentoo/gentoo-docker-images#using-the-portage-container-as-a-data-volume might be more helpful than listening to me :)

[2022-05-17 17:25] ajakk commented on #182
That README is unfortunately out of date, though it's close. I was able to get a working Gentoo environment with these two one-liners:

[code]

[2022-05-17 18:43] martinpitt commented on #182
Ah, thanks! So all that missing repo config comes from a *second* container image. At least with podman, a mere "create" is not enough, the container actually needs to run so that it copies its data into the volume. I didn't test this with docker (it doesn't work any more on Fedora). I also tidied this up a bit, to not leave the temporary portagesnapshot container around, and name the volume so th

[2022-05-19 09:14] packit-as-a-service[bot] opened #185 "[packit] Propose downstream failed for release 0.17.11"
Packit failed on creating pull-requests in dist-git:

| dist-git branch | error |
| --------------- | ----- |
| `f34` | `[Errno 2] No such file or directory: '/tmp/sandcastle/umockdev.spec'` |
| `f35` | `[Errno 2] No such file or directory: '/tmp/sandcastle/umockdev.spec'` |
| `f36` | `[Errno 2] No such file or directory: '/tmp/sandcastle/umockdev.spec'` |
| `main` | `Specfile /tmp/sandcastle/umoc

[2022-05-19 09:46] martinpitt commented on #185
Filed as https://github.com/packit/packit-service/issues/1511 . Worked around in commit cfdf9c16fa196891 (hopefully), triggering new release 0.17.12 with that.

[2022-05-19 09:46] #185 closed

[2022-05-19 13:49] #178 closed

[2022-05-19 14:09] mattst88 commented on #182
I'll check what all it needs to install and see if I can find some way of speeding this part up.

Right. I've reproduced the failure outside of emerge by first running the tests under emerge (see below) and then running the failing command under sandbox:

[code]

Yes. I'll add an ebuild that builds umockdev from git for this purpose.

Yes. `FEATURES=test ACCEPT_KEYWORDS="~*" emerge dev-util/umockd

[2022-05-20 17:24] martinpitt commented on #182
Many thanks @mattst88! With these instructions I was able to reproduce the bug, still with the hardcoded `VALAC=valac-0.56`. Then `meson test -C /tmp/b` works fine, and `sandbox meson test -C /tmp/b` fails in the way you reported. :tada:

I created an integration test, and [the log shows the expected error](https://github.com/martinpitt/umockdev/runs/6528949180?check_suite_focus=true#step:3:15000)

[2022-05-20 18:03] martinpitt commented on #182
How would I do that, actually? I googled a bit, found https://wiki.gentoo.org/wiki/Ebuild#Live_ebuilds , and tried various syntaxes:
[code]

The latter two at least seem syntactically correct, but still fail with

But anyway, that's a minor detail -- I'm happy to use that later on. I'll look at fixing the actual test now.

`SANDBOX_DEBUG=1 sandbox meson test --num-processes=1 -v umockdev-run` does

[2022-05-20 18:21] martinpitt commented on #182
I poked this for a while longer, and can't make sense of it. I'll skip that test under sandbox for the time being.

[2022-05-20 18:47] #182 closed

[2022-05-23 08:07] lachmanfrantisek commented on #178
Sadly, after some testing, the `commit` rights are really what we need. (We are still waiting for some clear/final answer from the Bodhi maintainers...)

[2022-07-02 11:16] #154 closed

[2022-07-14 15:21] benzea opened #193 "dev_fd hash table is not cleaned up with clear()"
This is kind of unexpected, and should probably happen.

I wonder if there might be an elegant trick, like using a fifo and just having it on the disk rather than in a hash table.

[2022-07-14 15:23] benzea opened #194 "clear() does not detach ioctl handlers"
OK, not sure about this one, so opening a bug.

Should clear implicitly detach all ioctl handlers, or should people still need to detach them explicitly?

Note that there is an internal hash table, to allow detaching. And this hash table might get autodated with clear() as the device is not removed there. But then, what happens if the socket/device is removed from the disk in some other way?

[2022-07-15 03:17] Tumb1eweed opened #195 "[problem]Can I create a fake camera by using this?"

[2022-07-15 04:28] martinpitt commented on #195
In general yes -- the source even [contains a PTP camera](https://github.com/martinpitt/umockdev/tree/main/devices/cameras) :grin: However, this is many years old, and the ioctl record most probably does not work with current libusb versions and such. But it should be possible. Did you already try and it failed, or was this just a high-level question?

[2022-07-15 04:30] martinpitt commented on #195
(I used this to run a photo import from f-spot and gphoto a couple of years ago, so it at least used to get quite far. But admittedly I haven't looked at that since then, so it may well have gotten broken.)

[2022-07-15 06:46] Tumb1eweed commented on #195
oh i just ask before trying, because i want to use to test transferring data through shared memory in ros2 nodes, and the publisher's data is from camera but i don't want to start a camera (no device), so I want to mock camera (mock xoictl particularly)

[2022-07-15 06:49] Tumb1eweed commented on #195
i forgot to ask, is this tool supporting C++?

[2022-07-15 09:16] benzea commented on #195
There are no real requirements for the code that you are testing. The library itself is vala (i.e. C), so of course it works well from C++ if you want that.

No idea about ROS and the test.

I suppose that works by mmap'ing a device file and doing a few ioctl's on it. With umockdev, that should work, i.e.:
 1. If a read/write/ioctl happens, you can handle it yourself from the test code
 2. When mm

[2022-07-20 15:58] spoore1 opened #196 "stack smashing error with Yubikey recording"
I'm trying to record some basic interactions with a Yubikey for FIDO2 token testing.   To do this, I'm using the basic "ykman" command and record it with umockdev.  When I run the recording through, I get an error about stack smashing:

[code]

And after help from @ueno  I see this from valgrand:

[code]

[2022-07-20 16:10] spoore1 commented on #196
Attaching the umockdev files for both examples above.

[umockdev_files.tar.gz](https://github.com/martinpitt/umockdev/files/9151839/umockdev_files.tar.gz)

[2022-07-20 18:18] benzea commented on #196
[code]

Well, yes and no. It is either a libfido bug or a false positive. i.e. the issue is that we are sending the `hdr` structure over to the parent process for emulation, and this reads uninitialized memory.

If  that memory doesn't need to be initialized (for the kernel), then this can be safely ignored. Thing is here, that umockdev always does a read, even if a write would be sufficient. As s

[2022-07-21 12:57] benzea commented on #196
OK, talked a bit too early. So, the above *is* true for `fido2-token` and the valgrind error has nothing to do with the stack smash error in the python code (i.e. false positive). The problem is the following code combined with umockdev's emulation:

[code]

i.e. it first reads the size into the header of the structure. Then it allocates enough memory and fetches it. The kernel will only write `mi

[2022-07-21 13:04] benzea commented on #196
I should have added what this means:
 1. In umockdev-ioctl.vala, update `handle_ioctl` to resolve only the amount of memory needed. This is a bit of a pain, as it means first resolving the first 4 bytes, then doing the same for the correct length.
 2. Fix `IoctlData.resolve` to either update the length of the data object and reload the rest of the data.
 3. Move the ioctl to use `I_VARLEN_STRUCT_I

[2022-08-23 08:37] DemosKadi opened #198 "How to emulate wireless device battery?"
Hey, I'm writing a small library which is basically wrapping upower and umockdev seems perfect for testing. The only problem I have is, that I can not figure out how to emulate for example a bluetooth mouse so that upower recognizes it as a wireless device.
I even used umockdev-record on my Logitech Mx Master but upower still only sees a battery.
Could anyone help me with this?

[2022-08-23 15:58] benzea commented on #198
I would suggest just emulating upower itself using python-dbusmock.

In this case, it might be that you need to go through bluetoothd actually.

[2022-08-24 16:05] #198 closed

[2022-09-03 10:00] martinpitt opened #199 "valgrind errors in rawhide"
The valgrind checks recently [started to fail](https://github.com/martinpitt/umockdev/runs/8153064545?check_suite_focus=true), for two different reasons. One can be reproduced in a `DEBUG=1` test container with
[code]

which fails with

[code]

Most tests fail due to this. This smells like a bug in glib, as it happens through other code paths as well, e.g.

[code]

[2022-09-07 13:21] benzea commented on #199
Wasn't GRegex recently ported to a newer version of the PCRE library?

[2022-09-18 17:29] martinpitt commented on #199
This is an actual issue, tracked in https://gitlab.gnome.org/GNOME/glib/-/issues/2741 . It was [fixed](https://gitlab.gnome.org/GNOME/glib/-/merge_requests/2878) 5 days ago, and just needs a new release now. I'll give this a few more days then, as it's awkward to ignore.

[2022-09-22 05:31] martinpitt commented on #199
This should be fixed in glib 2.74.0, which is in [rawhide](https://bodhi.fedoraproject.org/updates/FEDORA-2022-147911d324), [Debian unstable](https://tracker.debian.org/pkg/glib2.0), and [Ubuntu devel series](https://launchpad.net/ubuntu/+source/glib2.0) now. And indeed the [latest run](https://github.com/martinpitt/umockdev/actions/runs/3080101119/jobs/5025942875) is all green again! :green_heart

[2022-09-22 05:31] #199 closed

[2022-10-07 22:21] matoro opened #200 "All tests hang on alpha"
Hi, in both of the two extant distros supporting alpha (Debian & Gentoo) all tests in the test suite timeout.  I tried increasing the meson timeout past the 150-second limit but the tests hung indefinitely.

Test log from my run (Gentoo):

[code]

Downstream Gentoo bug:  https://bugs.gentoo.org/805083

Debian:  https://buildd.debian.org/status/fetch.php?pkg=umockdev&arch=alpha&ver=0.17.13-1&stamp=

[2022-10-14 18:09] matoro commented on #200
Nope, just tried - both commands just hang with no output.  They don't respond to SIGINT either, have to kill them.

I've added you as a user - should be able to log in to martinpitt [at] alphadev [dot] matoro [dot] tk (IPv6 only).  Let me know if you're able to take a look - thank you so much!!

[2022-10-20 17:00] martinpitt commented on #200
@matoro Thanks! I can log in, but umockdev's build dependencies are missing. I started a tmux session if you want to attach/have a look. First error:

    meson.build:1:0: ERROR: Could not execute Vala compiler: valac

Could you install these? Or is there some kind of build chroot on that box which I can access without root?

[2022-10-20 17:29] matoro commented on #200
Oops, sorry - gobject-introspection is installed now.  Vala was actually already installed, but Gentoo does not symlink the plain `valac` command, so you have to set `VALAC=valac-0.56`, see our ebuild:  https://github.com/gentoo/gentoo/blob/master/dev-util/umockdev/umockdev-9999.ebuild

[2022-10-21 07:52] martinpitt commented on #200
Initial notes:

    LD_LIBRARY_PATH=. LD_PRELOAD=libumockdev-preload.so ./test-umockdev -p /umockdev-testbed/empty

This locks up hard, not even Control-C or Control-\ help. Needs to be SIGKILLed.  This makes gdb unusable as well, and strace isn't installed. @matoro, installing strace would be much appreciated!

    UMOCKDEV_DEBUG=all LD_PRELOAD=libumockdev-preload.so ls

that works fine.

    UMO

[2022-10-21 08:42] martinpitt commented on #200
@matoro , can you please install strace and valgrind? This is a really hairly one, I'm afraid..

[2022-10-21 14:19] matoro commented on #200
Normally I have strace installed, 5.19 is just blocked by https://github.com/strace/strace/issues/220 at the moment.  But I just made a local repo and installed 5.18 from it for now.

Valgrind unfortunately requires platform-specific code, so there is of course no support for most of the more obscure platforms:  https://valgrind.org/info/platforms.html

Let me know if there is anything else that w

[2022-10-24 04:32] martinpitt commented on #200
Ah right, no valgrind.. Perhaps there's something simpler like electric-fence. I ran with strace, but this is inconclusive. With printf debugging and

    pkill -9 -e chatter; rm -rf /tmp/umockdev.*; meson compile && G_MESSAGES_DEBUG=all UMOCKDEV_DEBUG=all LD_LIBRARY_PATH=. ./umockdev-run ./chatter /dev/null

it keeps hanging when calling the real glibc functions like access() and open(), and I do

[2022-11-24 16:38] z3ntu opened #203 "Build error with 0.17.15"
Since upgrading from 0.17.13 to 0.17.15 building from a tarball fails (seen with Alpine Linux packaging)
[code]

[2022-11-24 17:38] martinpitt commented on #203
Can you please run `sh -ex src/getversion.sh`? If you build from the [release tarbal](https://github.com/martinpitt/umockdev/releases/download/0.17.15/umockdev-0.17.15.tar.xz), these ship a `.version` file and it should read it. It  could be that you umockdev-0.17.15/ has a `.git` directory, but `git` is not installed?

[2022-11-24 22:12] z3ntu commented on #203
Right, seems since basically forever the package has been built from github-generated tarball instead of release tarball - which has worked fine until the latest version.
[code]
Everything builds now, thanks for the pointer! https://gitlab.alpinelinux.org/alpine/aports/-/merge_requests/41721/diffs

[2022-11-24 22:12] #203 closed

[2022-11-25 05:11] martinpitt commented on #203
@z3ntu : Nice! :+1: